[2017-05-03 12:04] felipegaucho opened #3 "Set up all meteor "pages" {2e}"
Deliverable: screens for each of the pages, plus buttons, plus connections, plus working transitions between all.

(no css)

- [Signup workflow](https://github.com/Paratii-Video/paratii-design/wiki/signup-flow):
     1. Signup Screen;
     2. Confirmation;
     3. Edit Account Info;
     4. Account info. and wallet;
_[Check w/ Paulo if wallet and account info will indeed be in the same place, or i

[2017-05-03 12:05] felipegaucho opened #4 "Set up continuous integration {1e}"
Travis.ci?
Drone.io?

[2017-05-03 12:11] felipegaucho opened #5 "Implement design on "playlists" "page" {1e}"
As in [here](https://github.com/Paratii-Video/paratii-design/blob/master/mvp-design/artboards/mvp-playlist.png)

This depends on #10

[2017-05-03 12:16] felipegaucho opened #6 "Buffering icon {0.5e}"
Show a spinner icon when loading the app.

[2017-05-03 12:30] jellegerbrandy commented on #4
I just did :-)

https://circleci.com/gh/Paratii-Video/paratii-player

[2017-05-03 12:30] #4 closed, assigned to nobody

[2017-05-04 10:34] jellegerbrandy opened #8 "Integrate basic account management"
This concerns the signup workflow and creation of an ethereum address, not the connection with the blockchain. Roughly, the signup process is:

- give username and password
- show user his new account and info to restore the account if necesssary
- save the account info (for now in mongodb)
- show user account on wallet page

There is a basic start here:

https://github.com/Paratii-Video/paratii-p

[2017-05-04 10:40] jellegerbrandy opened #9 "Implement p2p player functionality"
We are pointing at using js-ipfs: https://github.com/ipfs/js-ipfs.

If js-ipfs turns out to be too immature, we may fallback to webtorrent: https://webtorrent.io/

[2017-05-04 10:41] jellegerbrandy opened #10 "Implement "search" on "playlists""
- [x] implement playlists
- [ ] implement search by tag [i.e. the dropdown list should filter the results]

[2017-05-04 10:43] jellegerbrandy commented on #10
questions:

 * how does search work? Tags? @lupape
 * do we have some sample material we can use?

[2017-05-04 11:40] jellegerbrandy opened #11 "Road Map"
# Road map for MVP

- [X] define technology stack

At this moment, it is meteor.js with a mongo backend, a private ethereum blockchain, web3.js

## general setup
  - [x] buy and furbish server
  - [x] setup private chain (http://paratii-chain.gerbrandy.com/)
  - [x] set up front end (http://paratii.gerbrandy.com/)
  - [x] set up staging server
  - [x] continuous integration #4
  - [x] continuous d

[2017-05-04 11:45] jellegerbrandy opened #12 "[design] implement design of video player"

[2017-05-04 11:59] jellegerbrandy opened #13 "Implement counters for views"
Implement the functinoality of the counters for counting views.

[2017-05-04 12:07] jellegerbrandy opened #14 "deploy and integrate ERC20 token contract"
contracts are here: https://github.com/Paratii-Video/paratii-contracts

[2017-05-04 12:11] jellegerbrandy opened #15 "implement wallet functionality"
Which is just simple sending of PTI f

This is a mockup, but may be changed:
 https://github.com/Paratii-Video/paratii-design/blob/master/mvp-design/artboards/mvp-wallet.png

[2017-05-04 17:02] jellegerbrandy opened #16 "Remove bootstrap, create main.css"

[2017-05-05 14:10] jellegerbrandy commented on #16
done in "no-bootstrap" branch

[2017-05-05 14:10] #16 closed, assigned to jellegerbrandy

[2017-05-17 10:31] jellegerbrandy opened #23 "remover practicalmeteor:chai dependency, just use chai"

[2017-05-18 08:11] jellegerbrandy opened #24 "design sign-up screens and workflow"
this describes the screens: https://github.com/Paratii-Video/paratii-design/wiki/signup-flow

[2017-05-18 08:16] jellegerbrandy opened #25 "Playlists: Apply change list - dropbox"

[2017-05-18 08:17] jellegerbrandy opened #26 "playlists: price tags do not appear when ad model (do not show price)."

[2017-05-18 08:17] jellegerbrandy opened #27 "player page todo"
- [x]  1 - Apply volume with control (can be a dropdown that goes up and there's a vertical slider w/ grey + purple)
- [x]    2 - Apply streaming/progress bar,
- [x]      3 - Add total video duration / current timing on video being played;
- [x]      4 -Add buttons left and right of play button: go to next video on playlist, go to previous video on playlist (or rewind current one if it's on the mi

[2017-05-18 08:20] jellegerbrandy opened #28 "wallet page todo list"
* Art  is here: https://github.com/Paratii-Video/paratii-design/blob/master/mvp-design/artboards/mvp-wallet-2.png
* http://paratii.gerbrandy.com/wallet

- [ ] Implement design
- [x] Restore wallet functionality
- [x ] Show seed button
- [x] Implement PTI transfer (we fake it in mongodb) #39
- [x] implement history of transactions (we fake it in mongodb) #40
- [ ] use models instead of prompt: #38

[2017-05-18 08:20] jellegerbrandy commented on #28
http://paratii.gerbrandy.com/wallet

[2017-05-18 08:21] jellegerbrandy opened #29 "profile page todo list"
**see #47  for updated information**

 * https://github.com/Paratii-Video/paratii-design/blob/master/mvp-design/artboards/mvp-profile-altbt.png
 * http://paratii.gerbrandy.com/account

 - [ ] Implement design
 - [x] Implement upload/remove profile image
 - [ ] Implement change password
 - [ ] Implement reset password
 - [ ] ~~Implement reputation points list~~ (this has low priority for now)

[2017-05-18 08:49] jellegerbrandy opened #30 "should we remove bootstrap?"
@lupape : you asked me to do so, and I did in the no-boostrap branch. Should we merge this or not?

[2017-05-18 15:40] #23 closed, assigned to nobody

[2017-05-18 19:58] lupape commented on #27
13 and 14 - we can implement share, favorite and producer relationship when we finished all other priorities.

[2017-05-18 20:17] jellegerbrandy opened #31 "circleci fails silently when there are import errors in test"
for example, here there should have been 10 tests:
https://circleci.com/gh/Paratii-Video/paratii-player/67

[2017-05-19 17:29] lupape commented on #27
#27 tasks: 3 7 8 9 - right! tks.

[2017-05-23 15:39] #30 closed, assigned to lupape

[2017-05-23 15:42] jellegerbrandy commented on #29
https://github.com/Paratii-Video/paratii-design/blob/profile/mvp-design/artboards/mvp-profile-altbt.png

[2017-05-23 15:48] jellegerbrandy opened #34 "Player: like/dislike buttons"
Proposal for UX:

- if user is not logged in, clicking "like" or "dislike" will not do anything, but show a popup: "please login or create an account"

- if user is logged in and clicks "like":
  - if user has not liked/disliked this video: increment likes counter. Icon changes color, becomes blue as in youtube (?)
  - if user has not liked, but has disliked the video: increment likes, decrement d

[2017-05-23 15:51] #26 closed, assigned to nobody

[2017-05-23 15:54] jellegerbrandy commented on #13
We need to decide what counts as a "view" (watching the whole video; watching at least half?)

[2017-06-07 09:22] jellegerbrandy commented on #5
duplicate of #10

[2017-06-07 09:22] #5 closed, assigned to nobody

[2017-06-07 16:35] jellegerbrandy opened #35 "paratii.gerbrandy.com should use https"

[2017-06-07 16:37] #3 closed, assigned to nobody

[2017-06-07 16:37] #8 closed, assigned to nobody

[2017-06-07 16:38] jellegerbrandy commented on #15
duplicate

[2017-06-07 16:38] #24 closed, assigned to lupape

[2017-06-07 18:17] geckoslair commented on #29
@jellegerbrandy  "Change password and restore password" features doesn't affect wallet at this time. right? "restore password" can be done using double opt-in using email?

[2017-06-08 10:21] jellegerbrandy commented on #29
**change password** works like this:

 1. User clicks "change password"
 1. User is asked to provide the old password
 1. Wallet is opened and regenerated
 1. Password is changed on server

**reset password** works like this:

 1. user clicks "reset password"
 1. user is asked for the 12-word seed
 1. user is asked for new password
 1. wallet is regenerated using seed and new password
 1. password

[2017-06-09 14:02] #34 closed, assigned to nobody

[2017-06-12 08:36] jellegerbrandy opened #37 "show profile image on menu if uploaded (instead of current avatar)"

[2017-06-12 08:39] jellegerbrandy opened #38 "use modals instead of alert when asking for seed and password"
i.e. everywhere a "prompt(...)"  is used, replace it use `Modal.show()`  (as in done in `showSeed` )

[2017-06-12 08:44] jellegerbrandy opened #39 "implement PTI transfer (in MongoDb)"
implement a `sendParatii(amount,  recipient)` in `lib/ethereum/wallet.js` that updates the corresponding balances in mongodb.

- [x] It also needs to check if the recipient account exist)
- [x] fail gracefuly if balance is not suffiet

[2017-06-12 08:48] jellegerbrandy opened #40 "Transaction History"
This regards the list of previous transactions.

History is stored in a mongodb table called " events". (These will become ethereum Events later...)

Events have: `sender` , ` receiver` (these are ethereum accounts), ` description` , `transactionId` and `amount`, for now.

Preferably, these will be filterable and searchable on the wallet page (or, if they do not fit there for reasons of space, on

[2017-06-12 16:21] eliawk commented on #40
"description" = will be a field in the wallet page form?
"transactionId" = the auto id created by mongo is it good?

[2017-06-12 16:34] jellegerbrandy commented on #40
the transaction id will be the ethereum one but for now mongo is fine. description: yes, it. may also be a field in the form, but it isostly meant fornthe micro transactions that will happen automatically and come with their own description.

[2017-06-13 14:27] jellegerbrandy commented on #40
here is some docs about ethereum events:
http://solidity.readthedocs.io/en/latest/contracts.html#events
https://github.com/ethereum/wiki/wiki/JavaScript-API#contract-events

[2017-06-19 09:39] jellegerbrandy opened #43 "webtorrent experiment"
Make it so that the player can play files over webtorrent.

This serves mostly as an experiment to see what the issues are.

https://webtorrent.io/

Some issues to pay attention to:

 - performance
 - UX
  - what do we show of the p2p mechanics (see webtorrent.io, which as a nice visualization as well)
  - we can already to PTI accounting (i.e. compare upload/download totals and translate these in

[2017-06-20 07:39] jellegerbrandy opened #45 "warning on startup: deprecated syncrhonous html request"
The traceback looks like the following. It may be slowing down some clients (probably depending on the connection)

[code]

[2017-06-20 13:12] jellegerbrandy opened #46 "use collection helpers to organize code"
https://guide.meteor.com/collections.html#collection-helpers
https://atmospherejs.com/dburles/collection-helpers

[2017-06-20 15:42] jellegerbrandy commented on #45
unfortunatly, the `isConnected` method of web3 has only a sync version.
https://github.com/ethereum/web3.js/issues/440

here is an implementation: https://github.com/eiabea/web3.js/commit/99e9edec734286d629502dc94331e4870fa6aa62 ("someone" should make a pull request)

[2017-06-21 07:34] jellegerbrandy opened #47 "profile page"
We will have a general profile page with the following information:

 * name
 * email
 * profile image
 * account
 * pti balance
*  eth balance
 * reputation balance

and a number of actions:

  * edit profile (-> modal with edit form)
  * send pti (--> modal with amount and destination)
  * send eth (--> modal with amount and destination)
  * show 12-word key (--> modal)
  * reset password
  * hi

[2017-06-21 07:38] #29 closed, assigned to geckoslair

[2017-06-21 07:38] jellegerbrandy commented on #47
**change password** works like this:

 1. User clicks "change password"
 1. User is asked to provide the old password
 1. Wallet is opened and regenerated
 1. Password is changed on server

**reset password** works like this:

 1. user clicks "reset password"
 1. user is asked for the 12-word seed
 1. user is asked for new password
 1. wallet is regenerated using seed and new password
 1. password

[2017-06-21 07:40] jellegerbrandy commented on #28
replaced by #47

[2017-06-21 07:40] #28 closed, assigned to nobody

[2017-06-22 08:09] jellegerbrandy opened #48 "set up parity --dev blockchain on paratii-chain.gerbrandy.com"

[2017-06-23 12:45] jellegerbrandy opened #49 "representation of addresses in player should be 0x123455"
i.e. "0x5d4ce8e7f91ea204249f9b226d57152f34c9f1b3" instead of "5d4ce8e7f91ea204249f9b226d57152f34c9f1b3"

[2017-06-23 13:51] #39 closed, assigned to eliawk

[2017-06-25 12:01] #48 closed, assigned to nobody

[2017-06-25 12:01] jellegerbrandy opened #50 "Deploy pti ERC20 Token"

[2017-06-25 12:01] jellegerbrandy opened #51 "Move away from aws to some decent servers"

[2017-06-25 12:11] jellegerbrandy commented on #50
basic first version deployed at 0x385b2E03433C816DeF636278Fb600ecd056B0e8d

[2017-06-25 12:13] jellegerbrandy commented on #14
cf. #50

[2017-06-25 12:13] #14 closed, assigned to nobody

[2017-07-06 09:20] jellegerbrandy opened #54 "implement ping/pong pattern for polling ethereum node"

[2017-07-06 10:55] jellegerbrandy opened #55 "remove all alerts in favor of modal dialogs"

[2017-07-06 14:42] jellegerbrandy commented on #54
using web3 polling now

[2017-07-06 14:42] #54 closed, assigned to nobody

[2017-07-06 14:42] #50 closed, assigned to nobody

[2017-07-06 14:53] #49 closed, assigned to nobody

[2017-07-06 15:55] jellegerbrandy opened #56 "if a local keystore is not found, we should still show the profile info at the profile page"
we can have the "regenerate wallet or create a new address" in the "wallet" part of the page

[2017-07-06 16:13] jellegerbrandy opened #57 "send ether modal screen gives no feedback"
* needs to close after send
 * needs to say something if you leave fields blank

[2017-07-06 16:15] jellegerbrandy commented on #55
there is one left: in users.js

[2017-07-06 16:20] jellegerbrandy commented on #40
* in first iteration: read the ether value transactions from the blockchain and show them
 * second iteration: use meteor Collections: perhaps inspired by `meteor-ethAccounts`.

[2017-07-06 16:23] jellegerbrandy opened #58 "implement PTI transfer"

[2017-07-06 16:26] #37 closed, assigned to eliawk

[2017-07-06 16:43] jellegerbrandy opened #59 "configure tests to run with testrpc"

[2017-07-06 16:43] jellegerbrandy opened #60 "notifications"

[2017-07-07 10:42] geckoslair commented on #57
what about for field and password validation?

https://github.com/aldeed/meteor-autoform

[2017-07-07 18:33] geckoslair commented on #40
i've added a primitive function in debug.js. At the moment the function scan all the blocks and look for from/to public address matches with current user public address. An improvement: Scan can be done using as startblock the last block at the moment of user registration. Transactions can be stored locally saving the latest block available, which can be use for later scan.

[2017-07-07 22:10] felipegaucho commented on #10
@jellegerbrandy there's some sample material we can use here: https://wdrv.it/2393d6880
It can be under a playlist named "Around the Block", tagged as you wish.

As for the search mechanism, I think we should have search by playlists, by tags, and a sorting filter. Something like this:

![arquivo 07-07-17 18 57 02](https://user-images.githubusercontent.com/26517120/27978783-e0504e74-6347-11e7-88e3

[2017-07-07 23:19] lupape commented on #10
No way 3 box search. The ideia are the system showing the best
correlaction. Similar when you search on youtube. When the user receive the
result than he can filter with keywords, most recent and other. But for
now, we going just with fixplaylist without search.

Em 7 de jul de 2017 19:10, "Felipe Sant Ana" <notifications@github.com>
escreveu:

[2017-07-10 09:34] jellegerbrandy opened #61 "wallet creation: tell user about backup and stuff"
Currently, when a new account is created, a new wallet is created "in the background". Instead, we need to show a dialog reminding hte user that

(1) REMEMBER the !#@$@#@$ keyphrase
(2) disclaimer about safety, reponsability,  that this is not an ethereum address on the ethereum blockchain at the moment

[2017-07-10 09:45] jellegerbrandy opened #62 "the "show your seed" dialog box has wrong title"
It says "Insert your keystore password" while it should say "This is your seed, remember it carefully".

[2017-07-10 13:15] #62 closed, assigned to nobody

[2017-07-10 15:33] #56 closed, assigned to nobody

[2017-07-12 13:07] jellegerbrandy opened #63 "keystore needs to be saved corresponding to userId"
the scenario that needs to work is:

 - login with account A
 - use keystore of account A
 - logout
 -login iwth account B
 - use keystore of account B

[2017-07-12 13:25] geckoslair commented on #58
need contract address!

[2017-07-13 07:46] #38 closed, assigned to nobody

[2017-07-13 08:03] jellegerbrandy commented on #59
* make `meteor run` configurable (so we can do something like `meteor run --with-testrpc` or similar)
 * write some interaction test in chimp
 * this test shoudl also deploy the paratii-contracts to the test blockchain

for the unit tests, we can mock the blockchain instead

[2017-07-17 12:23] jellegerbrandy opened #64 "if connection to chain is lost, this is not visible in the app"

[2017-07-17 15:15] felipegaucho opened #65 "Lateral menu leaving blank canvas under its original position when retracing during video play"
When opening a video and playing, the menu retraces to the left but leaves a blank space under it. The video should occupy all the available space when playing (the menu comes over it).

![paratii-player](https://user-images.githubusercontent.com/26517120/28275211-94c168f4-6ae9-11e7-9029-becc38656fd5.jpg)

[2017-07-18 12:14] jellegerbrandy opened #66 "transaction history"
this work is done on the branch ` transaction-history`

 - the whole transaction history (of all users) will be saved in a Meteor.collection on the server.

 - the app on sendPTI and sentEth will (1) do the transaction on the blockchain and (2) if the transaction is successful, write the relevant data to the collection
- we will wathc the blockchain for new transactions, and if such transactions w

[2017-07-18 14:54] #58 closed, assigned to nobody

[2017-07-18 14:55] #57 closed, assigned to nobody

[2017-07-18 14:59] #15 closed, assigned to nobody

[2017-07-18 14:59] #12 closed, assigned to nobody

[2017-07-18 15:00] jellegerbrandy commented on #9
closing this issue - we now have webtorrent working.

[2017-07-18 15:00] #9 closed, assigned to nobody

[2017-07-18 17:12] geckoslair commented on #63
@jellegerbrandy  what about actual feature?
road 1: we provide a migration from previous implementation
road 2: we just change the way we save the keystore, everybody will create a new keystore

[2017-07-18 18:53] jellegerbrandy commented on #63
ok pretty cool. About the "upgrade" path, can do a 3rd road like this:

    ks = localstorge.get('keystore-{userid}')
    if (ks == null) {
        ks = localstorage.get('keystore')
    }

so its backwards compatible?

[2017-07-18 18:54] geckoslair commented on #63
@jellegerbrandy what about ask team to save their seed and use it in order to recover wallet =) ?

[2017-07-20 11:04] jellegerbrandy opened #67 "restore seed gives no feedback when seed is not valid"
the console says "invalid mnemonic"

[2017-07-20 12:29] jellegerbrandy opened #68 "use checksum address for our pti address"
change getPTIAdress and add the following function:

    '0x65601DB7431427E32Ce2d60e6a373bc7A7F68EB4'

[2017-07-20 12:34] #63 closed, assigned to nobody

[2017-07-20 13:53] jellegerbrandy opened #69 "make Meteor.call calls async"
we need to check the code, and promisify the calls, or pass a callback, in all cases where we do not want the blocking behaviour (i.e. everywhere)

[2017-07-20 14:32] jellegerbrandy commented on #40
closign this as duplicate of this new ticket that I made by accident: #66

[2017-07-20 14:32] #40 closed, assigned to eliawk

[2017-07-21 09:11] #65 closed, assigned to mrocha94

[2017-08-03 10:17] eliawk commented on #64
do we add a notification system?

[2017-08-03 10:20] jellegerbrandy commented on #64
yes, eventually we'll need it. How much work would you estimate that to be?

[2017-08-03 10:21] eliawk commented on #47
Could we consider it closed?

[2017-08-03 10:44] #47 closed, assigned to eliawk, geckoslair

[2017-08-08 14:47] geckoslair opened #70 "show ETH/PTI value in USD"
this value has to be shown in profile and transactions history.
USD/ETH exchange value will be hardcoded at the moment.

[2017-08-08 18:28] jellegerbrandy commented on #70
only for the current total balances, I'd say. not for each transaction (where it is just confusing as it. changes in time)

[2017-08-10 13:46] jellegerbrandy opened #71 "upgrade to Iron Router"
https://kadira.io/ has closed, and so it would not be a bad idea to change. Ironrouter is the alternative: https://github.com/iron-meteor/iron-router

[2017-08-10 13:55] jellegerbrandy opened #72 "improve descriptions in transaction history"
Each player-initiated transaction should add a description to the collection. (I.e. if you buy a video for 3PTI, in the end, we should see something liek "bought video X" in the description of the transaction)

[2017-08-10 13:55] jellegerbrandy opened #73 "transaction history: implement infinite scroll"

[2017-08-10 14:00] jellegerbrandy opened #74 "transaction history: implement search"
- first iteration: just have a full-text search kind of thing

[2017-08-10 14:02] jellegerbrandy opened #75 "transaction history: show profiles"
This is not so urgent, and there are drawbacks, but the idea here is that if Paratii knows the identity of an address (sender or receiever) in the address list, we should show their name instead of just the address.

[2017-08-11 17:19] brenopolanski opened #76 "Create an issue and pull request templates"
GitHub now supports **issue templates** via a markdown file called `issue_template.md` in the root or `.github/` folder of your repo!

There is also added support for **pull request** templates via a markdown file called `pull_request_template.md` in the root or `.github/` folder of your repo!

About: https://github.com/blog/2111-issue-and-pull-request-templates

[2017-08-15 14:01] brenopolanski commented on #71
I was migrating to Iron Router and realized that it is a bad idea to do this now, because Iron Router has some problems and it is not either actively updated.

In Iron Router you can use reactive content inside the router, but any hook or method can re-run in an unpredictable manner. FlowRouter limits reactive data sources to a single run; when it is first called.

At least for now, I feel the app

[2017-08-16 12:16] jellegerbrandy commented on #71
ok, good points, closing the issue.

[2017-08-16 12:16] #71 closed, assigned to nobody

[2017-08-17 12:28] jellegerbrandy opened #78 "restore wallet does not check password"
restore Wallet should check if the password is indeed the one of the meteor user.

[2017-08-17 15:35] jellegerbrandy opened #79 "wallet is not handled well if new acccount creation fails"
to reproduce:
 * logout your account
 * try to register a new account with the same email, it will fail

first bug: a modal with a seed will be showed
 * login with your usual account

second bug: the address will be wrong
 * refresh the page and the address will be correct

[2017-08-18 00:22] mrocha94 commented on #79
As described in 9e31bb7, it is not the best solution for the problem. Maybe a refactoring of [createKeystore](https://github.com/Paratii-Video/paratii-player/blob/9e31bb7304ae29b6a2b31d494c4639b86950a0e7/imports/lib/ethereum/wallet.js#L19) can help to resolve it.

[2017-08-21 10:27] felipegaucho commented on #43
We have [webtorrent operating](https://github.com/Paratii-Video/paratii-player/blob/56b598dc215c1879b95dbef9c9637785054579b6/imports/ui/pages/player/webtorrent.js). Tentative next steps are:

- [ ] Minimal "conected peers" interface (dynamic graph) appearing on a corner of the player during hover (as in [this reference](https://webtorrent.io/), much smaller).
- [ ] Number of peers / leechers, alon

[2017-08-21 21:56] geckoslair commented on #75
That's mean save public address in user collections, right?

[2017-08-21 21:58] geckoslair opened #83 "Merge same transaction from different source in transactions history"

[2017-08-21 21:59] geckoslair commented on #79
It's seems closed after @mrocha94 fix :+1:

[2017-08-21 21:59] #79 closed, assigned to nobody

[2017-08-21 22:57] geckoslair opened #84 "Manage out of gas and other chain exceptions during TX"

[2017-08-22 22:30] geckoslair opened #85 "Missing tx timestamp in txs history"

[2017-08-22 22:36] #67 closed, assigned to fbrigalante, mrocha94

[2017-08-28 04:26] felipegaucho opened #87 "Make video "price tag" dynamic"
After a user "pays-per-view" a video, on the next time it sees its thumbnail, its price label should neither remain the same nor disappear, but rather appear as a discrete :white_check_mark:, indicating the content has already been bought.

[2017-08-30 19:46] #78 closed, assigned to mrocha94

[2017-08-31 13:50] mrocha94 opened #88 "player known bugs"
Knowns bugs of player page:
- [x] IPFS autoplaying
- [x] Play/Pause button not updating
- [x] Webtorrent not working #90
- [x] Navbar animation isn't working when video is paused
- [x] The left side of the video is being cropped when full screen (only on chrome)
- [x] Unwanted animation when toggling fullscreen

Any other bug, comment it here.

[2017-08-31 14:09] jellegerbrandy opened #89 "define blockStart in settings files"

[2017-08-31 15:02] jellegerbrandy opened #90 "webtorrent is currently not working"

[2017-08-31 15:03] jellegerbrandy commented on #90
Just found out it is because our own  (and only) seeder not turned on.

[2017-08-31 15:03] jellegerbrandy opened #91 "synching transaction history should not block startup"

[2017-09-01 08:37] jellegerbrandy opened #92 "error on transaction syncing"
(node:26158) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 8): ReferenceError: newTxId is not defined

[2017-09-01 13:08] jellegerbrandy opened #93 "we need a favicon"

[2017-09-01 15:28] #90 closed, assigned to nobody

[2017-09-01 21:00] lupape commented on #93
https://github.com/Paratii-Video/paratii-design/blob/master/brandidentity/favcon32.png

https://github.com/Paratii-Video/paratii-design/blob/master/brandidentity/favcon16.png

[2017-09-02 09:32] jellegerbrandy commented on #93
reopening bc we also need to add it to the code :-)

[2017-09-05 12:37] jellegerbrandy opened #100 "We need an Admininistration Interface"
We currently have no “admin” functionality. We need some way to:
 * See (and edit!) our users
 * See and edit (and upload) videos (see also next points)
 * Organize content
 * Users and roles

Proposal: We cannot really do without this. It is for internal use, so we can try and find a quick-and-dirty solution based on something like https://atmospherejs.com/houston/admin.

[2017-09-05 12:48] jellegerbrandy opened #101 "Experiment with and test embedding"
We need to have a more precise idea about the limits of embedding our player in 3rd party websites.

Useful would be:

- Have some sample webpages with our player embedded
- Have a precise idea about browser/iframe limitations
- Document how 3rd party websites like Facebook and others may limit embeddability
- Document precisely in the README how to embed our player

[2017-09-05 12:50] jellegerbrandy commented on #101
Some thoughts about this:

**Goal:** The player needs to be embeddable (like the youtube player)
**Status:** Not tested yet.
**Proposal:** Do some experimenting on the short term to see what issues we encounter.

**Possible issues:**
Interaction between multiple embedded players on the same page.
Browser compatibility.

**What goes where: _embeddable player vs website_**
Having an “embeddable play

[2017-09-05 13:20] jellegerbrandy opened #103 "IPFS "per bit accounting""
We need some statistics from IPFS to show total amounts sent and recieved from other users.

There are a number of issues to address:

  - show some stats "on" the player (much like now in the webtorrent experiment): number of peers conection, upload and download speed, etc.
  - write detailed statistisc to the transaction history. Need to define a function call that does that.
  - it would be a g

[2017-09-05 13:38] ya7ya commented on #103
I'm currently looking into stats from `ipfs.bitswap` to see if it has the info we need. I'll try to put together some basic stats in the `STATUS` part like in the webtorrent experiment.

If by transaction history you mean the transaction of bits (upload / download), then it'll probably depend on the function mentioned above. I'll get started on this once the basic stat functions are done.

There a

[2017-09-05 14:27] jellegerbrandy commented on #103
"Transaction history" refers to this page: http://paratii.gerbrandy.com/transactions The idea here is to translate the up- and download totals into monetary transactions (i.e simulate what Filecoin will do with IPFS). I'm imagining something like this: the player keeps track of upload/download totals for each peer. Everytime some treshold is reached (in up- or downloads), the debt/credit is "settl

[2017-09-05 15:03] ya7ya commented on #103
regarding transactions, This is possible once the basic stats function is complete. We can create an event that triggers a `settlement` function everytime a threshold is reached.

About the communicate idea, You can in theory pass msgs through the meteor server. But this adds another point of centralization that could be exploited. a peer to peer communication can be signed and verified. I'll expl

[2017-09-05 15:04] #25 closed, assigned to lupape

[2017-09-05 15:07] #43 closed, assigned to jellegerbrandy

[2017-09-05 15:20] felipegaucho commented on #88
- [x] Little purple vertical bar next to the "logout" button on the menu dettaches from the lateral limit of the menu when it expands (moves in a different speed / is not tied togeteher).
- [x] Thumbnail for video Around the Block teaser 16 is missing.
- [x] Cursor shows a **?** icon when hovers over producer's avatar.
- [x] Dark bar below the player w/ controls and progress bar: volume and play i

[2017-09-05 17:17] ya7ya opened #104 "IPFS: Uncaught TypeError: Cannot read property 'generateKey' of undefined"
This only happens when running the page in a non secure context (not HTTPS)
reference: https://github.com/libp2p/js-libp2p-crypto/issues/105

solution:
A. use SSL to load Paratii
B. follow along with the issue above.

[2017-09-06 13:02] jellegerbrandy commented on #104
Doing (A)

[2017-09-06 13:02] #104 closed, assigned to nobody

[2017-09-07 09:06] jellegerbrandy opened #105 "handling casual users (that are not logged in or have no account)"
Problem: Typical usage of player: watch a video. We do not want to force each new user to create an account before watching a video -t this is obviously too much friction. On the other hand, we do need each player instance to have an Ethereum account. Possible solution is this:

  1. User visits page with embedded player
  2. If user has an account, the player will find the keystore in storage, an

[2017-09-07 09:06] jellegerbrandy commented on #105
The last point about "urging" the user to create an account needs some UX thought. When does this happen? When the vid ends? When the user balance becomes non-trivial?

[2017-09-11 11:50] jellegerbrandy commented on #105
@felipegaucho  comments: "what if we generate an address, and when the guy will input his data, he's actually a returning visitor, that hadn't logged in for some reason (other machine, I don't know). There should be a way to transfer the "credit/balance" of that session to an existing account by uploading existing login info, right?"

[2017-09-11 12:00] jellegerbrandy commented on #105
Yes. It is complicated/messy.

So the scenario is that there are two keystores: keystore1 that has the keys for account1 that belongs to username on machine1, and keystore2 that has the keys for account2 o machine2 that is still anonymous.

Now how to merge the two? We'd like to reach a situation where all funds of account2 are transferred to account1, and keystore1 is installed on machine2 as wel

[2017-09-11 12:35] #55 closed, assigned to nobody

[2017-09-11 12:36] jellegerbrandy commented on #73
Thinking about it, I think it should be infinite scroll. @geckoslair , what's the status on this?

[2017-09-11 12:37] #91 closed, assigned to nobody

[2017-09-11 12:38] jellegerbrandy commented on #70
waiting for new specs..

[2017-09-11 12:38] #70 closed, assigned to nobody

[2017-09-11 12:38] #59 closed, assigned to geckoslair

[2017-09-11 12:39] jellegerbrandy commented on #51
decided to say on aws for now

[2017-09-11 12:39] #51 closed, assigned to nobody

[2017-09-11 12:39] #35 closed, assigned to jellegerbrandy

[2017-09-11 12:49] jellegerbrandy opened #107 "add proper indexes to Transactions collection"

[2017-09-12 08:50] jellegerbrandy opened #110 "Add PTI incentives"
Assuming $0.10 as our "price parameter" for 1 gb of filesharing, we can make things easier by assigning 0.10 PTI to the same amount of work (1PTI = $1). It's a bit tougher on decimals (closer to the scale of what will be the real metrics). We can also make it a bit more rewarding:

[code]

Implementation plan:

   - write an onchain contract (or contracts) that has a budget for assigning this rewa

[2017-09-12 08:51] jellegerbrandy opened #111 "send ether/pti is not workign"
import error for web3

[2017-09-12 09:08] jellegerbrandy opened #112 "upgrade meteor"
there is a new version.

[2017-09-12 12:54] felipegaucho commented on #74
We have it.

Closing this until we bring a clear UI proposal, w/ a selection of info. we want to display and search logic.

[2017-09-12 12:54] #74 closed, assigned to geckoslair

[2017-09-12 14:37] felipegaucho commented on #13
What about watching at least 50% if lenght < 1min; at least 10% if lenght >1min (in the proper smooth curve, and not abrupt scale)?

[2017-09-12 15:38] felipegaucho opened #114 "Path to Pilot"
# Path to Pilot

## Average Use
### Embedabbility #101

- [x] Define if we need preset embed sizes/versions (i.e. Mini Mode & Tiny Mode)
- [ ] Integrate device-sniffing code in the player (status @geckoslair?).
- [x] Precise documentation on how to embed our player. #116

### "Anonymous" usability
- [ ] Make it possible to play videos without being logged in #105

### Video Purchase (PPV)
- [x] Ad

[2017-09-12 15:39] felipegaucho commented on #11
Closing this in favour of #114 .

[2017-09-12 15:39] #11 closed, assigned to nobody

[2017-09-12 17:09] jellegerbrandy commented on #100
We have been studying alternatives. There is a list here: http://mongodb-tools.com/. Our shortlist at this moment is:

 1. Roll-your-own: probably out of scope as too much work (i.e. weeks)
 2. http://www.drmongo.com/
 3. https://www.nosqlclient.com/demo/

There are also non-free solutions that may be of use.

Some specs:
 * we need to be able to do basic CRUD operations on all records
 * we want

[2017-09-12 22:42] #6 closed, assigned to nobody

[2017-09-13 07:36] #111 closed, assigned to nobody

[2017-09-13 08:28] eliawk commented on #100
i've already installed dr.mongo on my local machine and it seems very good. the only limit it is quite raw in the edit mode (you to fight with some json)
![screenshot 2017-09-13 10 26 39](https://user-images.githubusercontent.com/362016/30367328-414e22e0-986e-11e7-98b2-5a65cda87a35.png)

but i think create a custom admin with some decent UI it's too time expensive.

[2017-09-13 08:41] jellegerbrandy commented on #100
Now that we decided to have the blcokchain as the "source of truth" of our date, editing data is not the most important point here.

I say go for dr. mongo.

[2017-09-13 08:54] jellegerbrandy commented on #100
elia, plz document here: https://github.com/Paratii-Video/devops/blob/master/docs/drmongo.md

[2017-09-13 14:00] jellegerbrandy commented on #100
so the micro gives out-of-memory erros. Here's a new medium instance to installd rmongo on (and we will mvoe the playerthere too): 52.37.8.77

[2017-09-14 09:55] jellegerbrandy commented on #105
Another complication: A user has an account but no cookie. Wants to see a video. We cannot open the existing keystore without the password. What do we do? Option 1: ask the user for a password (which is irritating, because he just want to see the video) Option 2: create an anonymous keystore (now there are two keystores on the machine, and we are similar to step 5)

[2017-09-14 09:56] jellegerbrandy commented on #105
OR (a @eliawk  proposes) In all cases: if a user wants to play a video, he is ALWAYS presented with the option "login or view anonymously". @felipegaucho :  what do you think of this last idea?

[2017-09-14 16:52] felipegaucho commented on #105
-> empty would make any anonymous session practically vulnerable till login, no?

-> Every paid video asks for acc creation when you click to play (a modal). Non-ppv videos, for anonymous users, bring the "create account" at the end (a skippable modal), from the 1st to eternity, until the user logs in (so he just has the first one hassleless, for now -> we'll refine). That's what we thought for no

[2017-09-15 08:07] jellegerbrandy commented on #105
-> empty would make any anonymous session practically vulnerable till login, no?

well, the keystore is on your local computer, so yo need access to that to open the wallet. So it is not much more vulnerable then the default behavior of amazon or google: you open your browser and you are magically logged in. In any case, the idea is that such anymous accounts will hold little balance, they are lik

[2017-09-15 10:47] jellegerbrandy commented on #100
https://drmongo.paratii.video

[2017-09-15 10:47] #100 closed, assigned to eliawk

[2017-09-15 10:55] jellegerbrandy opened #116 "Document embed sizes/versions (i.e. Mini Mode & Tiny Mode)"
Here's a proposal - to discuss:

For the MVP, we have two versions (two views) of the player:

1. One "full screen" standalone versions with all functionality
2. One "embeddable" version whose main function is to play a video, and that has minimal functionality

Here "minimal functionality" means the following:

   1. Plays video
   2. Is an IPFS node
   3. Creates/reads existing wallet (cf. #105)

[2017-09-15 11:00] ya7ya commented on #103
hey @jellegerbrandy
Quick update Regarding full transaction history:
- the `ipfs-bitswap` does seem to have an accounting function which keeps a ledger of data sent/received to each peer. here is an example of looping through the `ledgerMap`
[code]

***Issue*** When canceling a `files.get`, like when the user navigates away from the video player, The bitswap is still receiving data, I'm investigat

[2017-09-15 11:08] ya7ya commented on #116
IMO , I think embeddable version is important for the MVP since creators would probably wanna embed the video in their existing platforms. and we need the publicity 😄

and the fact that we have limited time means we gotta create the smallest possible implementation then gradually add functionalities , so embeddable player + uploader , then we can add functions from there.

[2017-09-16 09:16] felipegaucho commented on #116
After some research/pondering, we believe an ideal scenario contemplates the following sizes/versions:

**1** ✦ **Smallest mode** (e.g. 160 x 120) is activated when the iFrame is < 260 px wide. It's an static image that shows title + play + backimage - and is itself a direct link to fullscreen.
**2** ✦ **Micro mode** (e.g. 260 x 190) is activated when the iFrame is > 260 px wide. It's an static im

[2017-09-16 12:34] geckoslair commented on #92
Still need to be fixed?

[2017-09-16 12:51] #93 closed, assigned to geckoslair

[2017-09-16 13:21] geckoslair commented on #85
@jellegerbrandy waiting for new contract methods, right?

[2017-09-16 13:55] #89 closed, assigned to geckoslair

[2017-09-18 07:34] jellegerbrandy commented on #116
This is a great start.  Just a remark on the signin flow:

- the signin/signup flow in our case is complicated by the fact that the keystore (i.e. the data-file that is used  to sign transactions) is stored locally in your browser. in practice, this means that if you log in from a new device, you need to give not only your password, but also the 12-word keyphrase that is needed to regenerate your

[2017-09-18 08:09] jellegerbrandy commented on #92
I think it is fixed, but in any case this code will be refactored on the basis of the nwe contracts (to be deployed)

[2017-09-18 08:09] #92 closed, assigned to geckoslair

[2017-09-19 04:29] #88 closed, assigned to fbrigalante, mrocha94

[2017-09-19 11:30] #87 closed, assigned to HugoMitsumori, mrocha94

[2017-09-19 19:08] jellegerbrandy opened #118 "Define routes for different sizes of player in meteor"
REfering to Cf. #116 : What we need is
 - different URLs for different sizes
 - preferably even separate builds to keep the small (pixel) sizes also small (in MB)
 - player needs to have some code that detects the size it is shown in, and who the appropriate view

[2017-09-19 19:28] jellegerbrandy commented on #112
The tests were timing out with 1.5.2 (https://circleci.com/gh/Paratii-Video/paratii-player/488), so I donwgraded to 1.5.1 again.. let's try it in again in a separate branch.

[2017-09-20 08:28] jellegerbrandy commented on #118
Closing this issue for now. In the first iterations, we can jsut do everything with CSS.

[2017-09-20 08:28] #118 closed, assigned to nobody

[2017-09-21 13:02] #112 closed, assigned to geckoslair

[2017-09-22 06:54] jellegerbrandy opened #119 "new contracts: use the 'SendEther' contract to send ether from the app"
- [x] use the `sendEther.transfer` to send ether
- [x] listen for the `LogSendEther` event to update transaction history
- [x] write tests for both

[2017-09-22 07:10] jellegerbrandy opened #120 "new contracts: use the VideoStore contract to buy a video"
- [ ] register our videos in the VideoRegistry contract
- [ ] use `VideoStore.buyVideo` to buy a video
- [ ] resolve issue https://github.com/Paratii-Video/paratii-contracts/issues/3 - register the Sale
- [ ] read the info about having bought the video, from the blockchain

[2017-09-22 07:12] jellegerbrandy commented on #75
closing this for now as out of scope

[2017-09-22 07:12] #75 closed, assigned to nobody

[2017-09-22 07:16] #72 closed, assigned to nobody

[2017-09-26 14:13] eliawk opened #125 "Video format for different browsers"
[code]
we need different video format or at least to support Safari and Firefox browsers.

[2017-09-26 14:56] felipegaucho commented on #60
@jellegerbrandy is this up still?

[2017-09-26 15:11] felipegaucho commented on #116
Still missing:

- [x] **Document precisely in the README** how to embed our player; its preset sizes (the above must be checked w/ @pedrocasa); and their respective features.
- [x] Document how 3rd party websites like Facebook and others may limit embeddability (lots of inputs from our previous discussions).
- [ ] Document the issue as for _logging in from a new device -> requires not only your pa

[2017-09-26 15:13] felipegaucho commented on #101
Closing this in favour of #116, which contains stuff that's missing from this issue.

[2017-09-26 15:13] #101 closed, assigned to geckoslair

[2017-09-26 15:20] jellegerbrandy commented on #60
It is more of a UX issue. At the moment we do not have a real mechanism for asynchronous messages

(think of: "I open dialog, click send pti, dialog closes, one minute later the app knows that the action has failed" - we have no natural place now to notify the user)

 i think we can consider it out of scope for the MVP - closing the issue; if the issue comes up when we do testing, we can re-open.

[2017-09-28 12:46] ya7ya opened #126 "Chrome throttling IPFS"
[Chrome throttling background tabs](https://developers.google.com/web/updates/2017/03/background_tabs). Which affects the upload/download speed if the tab is in the background (not active).

**possible solution** : use ipfs in a service worker and see if that alleviates the issue. for reference there is an [`ipfs-service-worker`](https://github.com/ipfs/ipfs-service-worker) .

[2017-09-28 14:08] jellegerbrandy opened #127 "show "connecting to blockchain..." instead of "you have no ether""

[2017-09-29 00:23] #68 closed, assigned to geckoslair

[2017-09-29 01:39] milankragujevic commented on #126
Correct me if I'm wrong, but isn't service worker unable to use WebRTC, thereby having to use a proxy/bridge on a server to upload content..? ipfs/ipfs-service-worker uses the service worker to provide a download ability via ipfs, but doesn't allow uploading or WebRTC ... It's confusing to me, and I'm not sure if it can be solved easily. I want to propose a WebExtension-compatible extension for Ch

[2017-09-29 11:50] ya7ya commented on #126
@milankragujevic Yeah, you are right, it seems you can't use `WebRTC` in the worker https://github.com/w3c/webrtc-pc/issues/230 . Thats a shame. Thanks for pointing that out dude 👍

Regarding the WebExtension, I thought about it and it's a pretty good idea but we need this to work with zero installation required. But a WebExtension would be useful especially for uploaders who wanna seed files in t

[2017-09-30 08:08] jellegerbrandy opened #129 "Mini Design"
latest version: [FLOW-MINI.pdf](https://github.com/Paratii-Video/paratii-player/files/1388970/FLOW-MINI.pdf) (still to be udpated)

[2017-09-30 08:09] jellegerbrandy commented on #129
![](https://user-images.githubusercontent.com/1306173/31044016-52423922-a5c7-11e7-9069-fbaba100052f.png)
[https://files.gitter.im/Paratii-Video/design/9D22/MVP_FLOW_MINI_20170921-_1_.pdf](url)

[2017-09-30 08:15] jellegerbrandy commented on #129
### Missing features / flows
- [ ] Search fields
- [ ] Recover password flow: 2 fields (email, password) and button (forgot pass?) // click on button -> goes to...
2 fields (email, 12 magic words =) ) and button (restore wallet)  //  click on button -> goes to..
1 prefilled field (your address) + 2 fields to write on (new password, confirm new password) and "confirm" button

### Adjustments

- [ ]

[2017-10-02 13:12] pedrocasa opened #130 "How does the user recover the password?"
I'm having a bit of difficulty creating the "forgot your password" pages. I would like to know step by step how the user retrieves the password.
@jellegerbrandy

-We are talking here about the situation described in https://github.com/Paratii-Video/paratii-player/issues/105, the login moment:

- **1 (login)** - Text:"Log in". 2 fields (email, password) and buttons (log in, sign up, forgot pass?).

[2017-10-02 14:07] jellegerbrandy commented on #130
The user never "recovers" his password - he is the only one who knew it. But we can reset it.

The password is used for (1) logging in to meteor and (2) for unlocking the local keystore that you need to interact with the blockchain.
To reset your password, the user needs to re-create the local keystore *on all your devices* with the 12 word password.

I'd say the flow for forget password is someth

[2017-10-02 14:07] jellegerbrandy commented on #130
@eliawk @enricocicconi

[2017-10-02 16:02] jellegerbrandy opened #131 "Tiny Design"
most recent "tiny" flow
[tiny_flow.pdf](https://github.com/Paratii-Video/paratii-player/files/1349512/tiny_flow.pdf)

[2017-10-02 16:07] pedrocasa commented on #131
most recent "tiny" flow
[tiny_flow.pdf](https://github.com/Paratii-Video/paratii-player/files/1349512/tiny_flow.pdf)

[2017-10-04 12:26] jellegerbrandy opened #132 "manage play state: when autoplay is set, the "play" button should be "pause""
see autoplaying example here:
https://paratii-video.github.io/paratii-embed/embedding.html

[2017-10-04 17:33] geckoslair opened #134 "Twitter card approval"
Go there https://cards-dev.twitter.com/validator
Paste that https://player.paratii.video/play/6?playlist=1
And follow approval steps =)

[2017-10-05 14:57] felipegaucho commented on #134
pending approval...

[2017-10-05 15:42] geckoslair commented on #134
thanks man!

[2017-10-06 14:12] #132 closed, assigned to geckoslair

[2017-10-09 07:37] jellegerbrandy commented on #130
We are talking here about the situation described in https://github.com/Paratii-Video/paratii-player/issues/105, the login moment:

- **1 (login)** - 2 fields (email, password) and buttons (log in, sign up, forgot pass?).
- **1.a** Click "sign up* -> open new model **3**
- **1.b** Click "log in" -> if no keystore is found, go to 5.
- **1.c** Click "forgot password" -> open new modal **2**

- **2 (

[2017-10-09 09:12] jellegerbrandy commented on #83
closing this as it is outdated

[2017-10-09 09:12] #83 closed, assigned to nobody

[2017-10-09 09:20] jellegerbrandy opened #137 "make "you bought this video" reactive"
Presently, after you bought a video, the button "buy this video" is not updated directly (a refresh of the page will update it). This widget needs to be updated when polling the blockchain.

[2017-10-09 09:28] jellegerbrandy opened #138 "Show transaction history better"
The Transactions colleciton in meteor adds a record for each Logged event.

I.e. a "buyVideo" is a single transaction that logs 3 separate events:

- BuyVideo - logs the videoId and price of the video
- Transfer - logs the transfer of PTI from the buyers account to the owner of the video
- Transfer - logs the transfer of PTI from the buyers account to the distribution pool

At the moment, we are s

[2017-10-09 15:47] pedrocasa commented on #130
@jellegerbrandy great work
I just have one doubt, if the 12 words are invalid (5.a) the user can ask for a reset link ( like 2.a) ?

[2017-10-09 15:48] pedrocasa commented on #130
@jellegerbrandy great work
If the 12 words are invalid (5.a) the user can ask for a reset link ( like 2.a) ?

[2017-10-09 15:52] jellegerbrandy commented on #130
No, without the 12 words, the account is lost. The user can either try to recuperate the 12 words from another device, or, failing that, needs to generate a new address.

[2017-10-09 17:12] mrocha94 commented on #127
@jellegerbrandy does this [commit](https://github.com/Paratii-Video/paratii-player/commit/7d91655ddd5592de709200e654852c2913ac5bc6) resolve?

[2017-10-09 17:31] jellegerbrandy commented on #127
I think so, yes, that this would work, very good.

Just to be pedeantic: it is probably cleaner to use to `Session.get('eth_isConnected')`. (which is set in `updateSession`, which is hte function we call when pining the blockchain for new info). So, the `eth_balance` code would first check for this var, and if it is false, return 'Not connected to the blockchain" (or "connecting..."), and when tru

[2017-10-09 17:44] mrocha94 commented on #127
So, it has these states:
* Not connected: "Not connected to the blockchain"
* Connected:
  * getting balance: "Connecting to blockchain"
  * empty wallet: "You don't own Ether"
  * amount: "You own {{amount}} Ether"

[2017-10-09 17:50] jellegerbrandy commented on #127
yes. For the moment though we do not distinguish "connecting" from "not
connected" (if we are not connected we will continue trying)

On Oct 9, 2017 19:44, "Mateus Rocha Mazzari" <notifications@github.com>
wrote:

So, it has these states:

   - Not connected: "Not connected to the blockchain"
   - Connected:
      - getting balance: "Connecting to blockchain"
      - empty wallet: "You don't own E

[2017-10-09 18:00] pedrocasa commented on #130
- What does the "restore button " do?

[2017-10-09 18:02] pedrocasa commented on #130
- what is the second field on the forgot password modal ?
- What does the "restore button " do?

[2017-10-10 07:12] jellegerbrandy commented on #130
Oh, Perdro, I'm sorry for the cunfusion: I had started a comment on this issue (which you read) but then thought it would be better to change the issue itself. So just read the top (there is no second field or "restore" button in step (2))

[2017-10-10 07:56] #64 closed, assigned to nobody

[2017-10-10 08:09] jellegerbrandy opened #140 "When to ask for the user password"
Premiss:
* The player needs to do transactions autonomously/transparently. The player needs to do many small transactions (e.g. downloading from 5 peers = at least 5 payments), and we do not want to bother the user for an explicit confirmation each time).

There are several ways of presenting this to the user - it is a tradeoff between giving the user control or having the user trust the player wi

[2017-10-10 11:08] eliawk commented on #140
We are now in scenario number [ 1 ], and we are trying to move to the [ 3 ]. in my opinion the [ 2 ] is two complicated for the user (he have to use tow password for the same application, not easy to understand the difference) and the [ 4 ] is not a option!

[2017-10-10 15:30] pedrocasa opened #141 "Player Buttons/information"
One of the tricky parts that I and @jrgarou are dealing with right now are the definitions of buttons and all the information that we need to show in the play bar.

It's important to think about what a user needs while watching a medium-large duration video and which problems he could find in the watching process.

For the mini version, we designed a clean one, with only the timeline, pause button

[2017-10-10 17:43] #119 closed, assigned to nobody

[2017-10-10 17:44] #127 closed, assigned to nobody

[2017-10-10 17:52] pedrocasa commented on #138
What if we show the "main action" ( buying a video for example) and when the user clicks on that information we show the other 3 events? Wouldn't it be more simple than showing all the little transactions that a main action has in another page ( after clicking on the main action ) ?

ps: I'm sorry, I couldn't find what you meant when you said "meteor collection"

[2017-10-10 18:12] jellegerbrandy commented on #138
Yes, we can do that. But, after giving it some thought, we can just show a simple description of the "main event" (in this case the buyvideo thing) and ignore the others info for now to avoid the complexity.

("meteor collection" -> should have said "mongodb collection". It is the database table where the application gets the data for the transaction history from.)

[2017-10-10 20:00] pedrocasa commented on #141
Some examples of other play sliders,

![vimeo](https://user-images.githubusercontent.com/30123644/31407769-7d28ad66-addc-11e7-9d72-9918ce4a84b3.png)
![windowsdefault](https://user-images.githubusercontent.com/30123644/31407770-7d47d0ce-addc-11e7-85d3-dbd175bea22e.png)
![youtube](https://user-images.githubusercontent.com/30123644/31407771-7d66f71a-addc-11e7-94b1-465aa1840bf8.png)
![instagram](https

[2017-10-10 22:29] felipegaucho commented on #141
Very clean and beautiful @pedrocasa
@ya7ya how burdenous in terms of bandwidth is to have a small thumbnail preview when hovering over the progress bar (towards the end, which you haven't received yet)? Maybe best would be to avoid it for now?
Also, we need a better placeholder =)

[2017-10-10 22:33] ya7ya commented on #141
@felipegaucho it's no problem if you wanna include few pictures as thumbnail , this happens during the transcoding process, creating a short clip might be a little trickier though . I'll look into it :+1:

[2017-10-11 13:11] jrgarou commented on #141
@pedrocasa I think the **mute button** is a important featured to the user

[2017-10-16 11:19] jellegerbrandy opened #143 "October Sprint"
## SCOPE

The goal is to have a usable player for showing and demoing. Basically, we polish the functionality that we have now.

- focus on UX
  - it needs to be pretty
  - it needs to be fast (or at as fast as possible)
  - it needs to be stable (i.e. all services should be running stably)

Cf. the decdicated project here: https://github.com/Paratii-Video/paratii-player/projects/2 and the corresp

[2017-10-16 11:32] jellegerbrandy commented on #141
I think that "as minimal as possible" is a good approach at this point. We must not think of this as the final design, but as a first iteration. We can add more functinoality later if we find that our users need/want it.

Wrt the thumbnail preview: our player will probably be slower to load than other players out there, because we have to set up the ipfs connections. One idea is to show some text

[2017-10-16 12:33] jellegerbrandy opened #144 "upgrade meteor"
`=> Meteor 1.5.2.2 is available. Update this project with 'meteor update'`

[2017-10-16 12:36] jellegerbrandy opened #145 "define and upload demoable content"
We need to decide which videos to show, prepare the content and the copy.

[2017-10-16 12:38] jellegerbrandy opened #146 "separate production from staging"
production instance will stay on http://player.paratii.video
staging will be on http://staging.paratii.video and "secret".

[2017-10-16 12:39] jellegerbrandy commented on #145
also, I think we can forget about the webtorrent and the centrallly-hosted content that we have in the demo now, and just run evertying from ipfs.

[2017-10-16 12:41] ya7ya commented on #145
@jellegerbrandy Yeah, Once I finish this week optimization I'll clear the other methods and IPFSify the videos 👍

[2017-10-16 13:27] jellegerbrandy opened #147 "status element remains visible after clicking "play""
it should disappear together with the other controls.

[2017-10-16 13:46] jellegerbrandy opened #148 "do not show fiat value on purchasing modal"
Now, the modal for purchasing a video shows some lke "10$, 22PTI". Of course, we do not know the dollar value. Can we remove this and just leave the PTI value?

[2017-10-16 14:05] jellegerbrandy opened #149 "UX for error handling"
[moved here from https://github.com/Paratii-Video/paratii-design/issues/1]

We need some way/place to show errors.

Here is a list of things that can go wrong when sendign a transaction to the blockchain. (I've taken the buying of a video as an example):

  - No connection to the blockchain
  - No local wallet
  - Wrong password
  - you don't have enough ETH to pay for transaction costs
  - you do

[2017-10-16 14:07] jellegerbrandy opened #150 "unlock modal: set the state to 'sending' after submit"
The unlock-video modal has the following states:

- success
- error
- sending... (set by adding a `loading` class to the modal element, disables the submit)

Success is working, error is workign (but does not give info about error - cf. #149). Sending is not yet hooked up.

[2017-10-16 14:25] pedrocasa commented on #10
@jellegerbrandy  Right now I'm finishing this flow, later on, I want to create a wiki with every single page

[FLOW-MINI.pdf](https://github.com/Paratii-Video/paratii-player/files/1388970/FLOW-MINI.pdf)

[2017-10-16 14:30] pedrocasa commented on #148
For now on ( test version ) make sense for me to leave just the PTI value.

[2017-10-16 14:34] jrgarou commented on #148
@jellegerbrandy @pedrocasa I'll update the [unlockVideo](https://github.com/Paratii-Video/paratii-player/blob/master/imports/ui/components/modals/unlockVideo.html#L33) removing/hiding the _dollar_ information

[2017-10-16 14:43] jrgarou commented on #148
I did: https://github.com/Paratii-Video/paratii-player/commit/0674e3b3cdc2823665361a96c796649a0114fd29

[2017-10-16 19:55] pedrocasa commented on #10
My Idea was to search for a playlist on the search page, just like youtube.
And leave the playlist page only for your playlists ( like youtube, spotfy etc )

[2017-10-16 21:13] pedrocasa commented on #141
@jellegerbrandy  just on the first time or every time it appears embedded on a website?

[2017-10-16 21:28] pedrocasa opened #152 "The necessities of Tiny/Mini options on the share modal"
I wonder if it's really necessary to give the user those resolution options MINI & TINY when he's going to share the video. Maybe we shouldn't give the user this option and just make it automatically responsive (adapting to the viewer's screen size)
Give me your opinion, on which circumstances would those options help or worsen the user experience?

![capture_03](https://user-images.githubusercont

[2017-10-17 07:41] jellegerbrandy opened #153 "fix timeout errors in chimp tests systematically"
We now often in the code set the timeout explicitly like this `browser.waitForExists('something', 5000)`. This is done inconsistently, and tests on circleci sometimes fail because the value is to low.

Need to do: each test-spec shoudl just set the timeout value globally, for the whole test, to a high value (say 10.000 ms)

[2017-10-17 08:24] jellegerbrandy opened #154 "Show texts to the users when they need to wait"
(continuing the discussion from #141)
Wrt the thumbnail preview: our player will probably be slower to load than other players out there, because we have to set up the ipfs connections. One idea is to show some text animation in which we explain what paratii is, what the user is waiting for, etc. (A bit like what some software installers do when you have to wait). If this is text only, it can be v

[2017-10-17 08:24] jellegerbrandy commented on #154
@pedrocasa: just on the first time or every time it appears embedded on a website?

[2017-10-17 08:24] jellegerbrandy commented on #154
It could work like this: we have a bunch of texts to choose from, independent units each of 1-3 pages, and we choose randomly from those texts every time they need to wait. So they would see something each time they need to wait, but will not see the same texts each time.

[2017-10-17 08:24] jellegerbrandy commented on #141
I moved the discussion about showing texts on load to a new issue #154

[2017-10-17 09:21] jellegerbrandy opened #155 "wire "signUp" and "signIn" modals"
The modals `modal_sign_up` and `modal_sign_in` need to be writed to the signup machinery (I mean they need to work :-)

[2017-10-17 09:51] jellegerbrandy opened #156 "optimize circleci tests"
Tests on circleci take more than 15 minutes to run. This slows down or workflow.

This can be optimized by parallizing tasks (low-haning fruit are running the chimp and the meteor tests in different containers)

[2017-10-17 09:52] jellegerbrandy commented on #156
There is start here: https://github.com/Paratii-Video/paratii-player/tree/fix_ci

[2017-10-17 10:22] jellegerbrandy opened #157 "upgrade from npm to yarn"
Yarn is better than npm.

Everything already (seems to) work with yarn, but we need to

* update the README.md (and possibly other parts fo the documentation)
* update circle.yml to use yarn.
* tell the team to switch

[2017-10-17 10:57] jellegerbrandy opened #158 "configure email on server"
meteor needs to be able to send mails

[2017-10-17 10:57] jellegerbrandy opened #159 "implement password reset flow in meteor"
this depends on #158

[2017-10-17 13:25] #147 closed, assigned to jrgarou

[2017-10-17 13:39] jellegerbrandy opened #160 "define/implement sidebar menu"
cf #129, has 3 entries:

  * avatar/profile/logout
  * playlist/search
* my videos

[2017-10-17 14:56] pedrocasa commented on #154
would be like those video game loading pages where it shows a tip or a contextualization about the match?

( not the best example.... just to know if I could understand what you're talking about )
https://www.youtube.com/watch?v=yE8N-97MfPM

[2017-10-17 15:15] jellegerbrandy commented on #154
precisely that, yes

[2017-10-17 15:36] jellegerbrandy opened #161 "implement "next up" videos"
When a video is finished, we want to show some recommendations.

First iteration can just be a random selection of available videos.

Further down the line, we can do something more sophisticated, along the lines of https://github.com/Paratii-Video/wiki/wiki/Paratii-Recommendation-Engine

This issue refers to screen M16 on #162

[2017-10-17 17:53] pedrocasa opened #162 "Design.Mini Purchase/Watch M01-M16, M81-M83"
Issue for purchase process discussion.
( M01-M16; M81-M83 )

Give me your feedback about the layout and functionality.
 - If you need to refer to a certain page, write the number of the page you are referring to.
 - Not every page is in this flow, check the others Design.Mini issues

[flow-purchase.pdf](https://github.com/Paratii-Video/paratii-player/files/1416129/flow-purchase.pdf)

[2017-10-17 18:04] pedrocasa opened #163 "Design.Mini Playlist M17-M26"
Issue for playlist pages discussion.
( M17-M26 )

Give me your feedback about the layout and functionality.

- If you need to refer to a certain page, write the number of the page you are referring to.
- Not every page is in this flow, check the others Design.Mini issues

[flow-playlist.pdf](https://github.com/Paratii-Video/paratii-player/files/1408856/flow-playlist.pdf)

[2017-10-17 18:07] pedrocasa opened #164 "Design.Mini Wallet M27-M43"
Issue for wallet page discussion.
( M27-M43 )

Give me your feedback about the layout and functionality.

- If you need to refer to a certain page, write the number of the page you are referring to.
- Not every page is in this flow, check the others Design.Mini issues

Our of scope flow!
[flow-wallet.pdf](https://github.com/Paratii-Video/paratii-player/files/1446247/flow-wallet.pdf)

October sprin

[2017-10-17 18:10] pedrocasa opened #165 "Design.Mini Search M54-M58"
Issue for search pages discussion.
( M54-M58 )

Give me your feedback about the layout and functionality.

- If you need to refer to a certain page, write the number of the page you are referring to.
- Not every page is in this flow, check the others Design.Mini issues

[flow-search.pdf](https://github.com/Paratii-Video/paratii-player/files/1392122/flow-search.pdf)

[2017-10-17 18:13] pedrocasa opened #166 "Design.Mini Sign in/up/ Log out M44-M49, M69, M86"
**NB: the designs for the flow are not valid anymore - cf the discussion below**

Issue for Sign in/up/logout pages discussion.
( M44-M49; M86; M69 )

Give me your feedback about the layout and functionality.

- If you need to refer to a certain page, write the number of the page you are referring to.
- Not every page is in this flow, check the others Design.Mini issues

[flow-sign.pdf](https://gi

[2017-10-17 18:17] pedrocasa opened #167 "Design.Mini Forgot Password M50-M52"
Issue for Forgot password pages discussion.
( M50-M52 )

Give me your feedback about the layout and functionality.

- If you need to refer to a certain page, write the number of the page you are referring to.
- Not every page is in this flow, check the others Design.Mini issues

[flow-forgot.pdf](https://github.com/Paratii-Video/paratii-player/files/1403154/flow-forgot.pdf)

[2017-10-17 18:19] pedrocasa opened #168 "Design.Mini My videos M60-M68"
Issue for My videos pages discussion.
( M60-M68; ... )

Give me your feedback about the layout and functionality.

- If you need to refer to a certain page, write the number of the page you are referring to.
- Not every page is in this flow, check the others Design.Mini issues

[flow-myvideos.pdf](https://github.com/Paratii-Video/paratii-player/files/1392110/flow-myvideos.pdf)

[2017-10-17 18:39] pedrocasa opened #169 "Design.Mini Error Messages M53, M70-M80"
Issue for Problems pages discussion.
( M53, M7-M80)

Give me your feedback about the layout and functionality.

- Not every page is in this flow, check the others Design.Mini issues
-As we don't know all the possible problems I didn't name the pages

![002](https://user-images.githubusercontent.com/30123644/32442352-42a1ff92-c2e2-11e7-9d25-e14b9ead9c3b.png)

[2017-10-18 00:31] felipegaucho commented on #162
@pedrocasa great work!

Only comments so far regard M06:

- Sucess -> Suc**c**ess
- Shouldn't M06 be just an intermediary state, and go straight to playing the video once the "loading" ends? (watch the video could become "done", or something like this, and dissappear)

[2017-10-18 01:22] felipegaucho commented on #103
closing this after https://github.com/Paratii-Video/paratii-player/pull/142 (💪 g'one @ya7ya) - we can go back to "showing on the frontend" when it's time to :)

[2017-10-18 01:22] #103 closed, assigned to ya7ya, jellegerbrandy

[2017-10-18 01:39] felipegaucho commented on #163
### Few things I noted:
- **Screen name** Playlist -> Playlist**s** (better, no?)
- **Search field** missing still, and resulting screen for the search, which shouldn't differ much from main screen (search field on the top?).
- Just to make it clear: purchased videos should be created only if the user has purchased a video, watch later only if he's marked one video as such. Otherwise, there's just

[2017-10-18 01:44] felipegaucho commented on #164
I'm very comfortable w/ it. Other might still spot UX issues.
"Earn more PTI" was discussed https://github.com/Paratii-Video/paratii-design/issues/2, and probably going out for now.
In M28-M29, dollar values can be omitted for now w/out affecting the layout, I guess.

[2017-10-18 01:47] felipegaucho commented on #165
I like it, and think it should be complimentary to a "search" inside the "playlists", very akin to it, as I mentioned in the "playlists" issue.

[2017-10-18 01:53] felipegaucho commented on #166
M46-M47 : ... _"link **sent** to your email"_.
M49: ... _"on **a piece of** paper and store it somewhere safe"_.

[2017-10-18 01:55] felipegaucho commented on #167
M52: should also contain fields for the 12-word seed and an extra field for confirming the new password (corresponding warning/error message if the 2 passwords don't match, or the seed is wrong)

[2017-10-18 03:10] felipegaucho commented on #154
Good reference is what Slack does when loading, for few secs., which is customisable by channel owners. Try refreshing these a few times:
https://aragonone.slack.com
https://swarmcity.slack.com

**Some refs (from above):**
"To fork or not to fork"
"Syncing the blockchain..."
"While you're reading this, probably a block has been mined. Isn't it awesome?..."
"Cutting out the middlemen..."

**Some id

[2017-10-18 08:18] jellegerbrandy commented on #169
It would be useful to have some general guidelines for showing errors, and show them in a uniform way.

roughly the errors  fall into 3 categories:

 1. Error on input field in form
 2. Error after submitting a form (such as buying a  video or sending PTI or ETH)
 3. Errors that happen asyncrhonously (such as 'connection is lost' type of errors)

about (1): I think showing the error in the input f

[2017-10-18 08:43] jellegerbrandy commented on #162
* M06: felipe is right... the intermediate state should show a "sending..." item (perhaps even animated), which then ends in either "error" or "success". We show the "success" for half a second, then move to M07 without any further user interaction.

* M14: the current "embed" modal has possibility to choose options (fullscreen, etc). What happend to that?

* M13: seems to me superflous (these are

[2017-10-18 08:52] jellegerbrandy commented on #168
There are actually two different types of upload:

* upload a file from local disk or from an URL. Can work much as you show.
* upload/convert from youtube, vimeo, ... That needs access to those platforms, so we need the user to log in there

Some other remarks:
* data model: we probably also want to add fino about copyright, ownership, perhaps even intended audience
* tags - do we have a fixed se

[2017-10-18 08:53] jellegerbrandy commented on #143
Scope (proposal):

- login flows
- anonymous usage
- play video on ipfs
- clean up content #145
- buy video
- only the "mini" theme
- sharing/embedding
- search

The next items will *not* be in the scope of this first sprint, but are "next up" in the backlog

- wallet
-  upload
-  "my videos"
-  per-bit accounting
-  playlists
-  transaction hsitory

[2017-10-18 09:51] jellegerbrandy commented on #167
The flow is not exactly like this. After submitting the email, the modal should show something like "check your inbox", and the only action is to close this modal.

Then, after the user clicks on the reset link in the email, we show these modals:

1. Insert new password (and confirm)
2. [next screen] insert 12-word seed phrase to regenerate yr wallet

[2017-10-18 09:56] jellegerbrandy commented on #166
* there is a bit of a duplicate with #167 , as flow-sign.pdf also contains screens M50-52.
* about logout: we need to think about this better: the player is unusable after logging out. So what is the use case here?
* Electrum (=bitcoin wallet) does somethign I like: it says "here is your 12 word phrase, write it down, blabla", and then on the next screen it asks you to input the phrase (to make su

[2017-10-18 10:02] jellegerbrandy commented on #165
I think there should be a single "discovery" screen - i.e. we should merge this functionality with that of #163. It will simplify both UX as well as development, and I see no point in having a separate screen.

[2017-10-18 10:04] jellegerbrandy commented on #165
we should also think of how to handle the near-future situation: we will have very little content, so all the ordering stuff will look slightly ridiculous. I'd propose in a first iteration to just have a general search box (that searches in tags, descriptions, titles, authors) with no further options..

[2017-10-18 12:34] jellegerbrandy commented on #154
We could also mxi this with informatino about what is actually happening (although that will take some more work to integrate), I'm thinking of stuff like "looking for other players that have your file", "downloading from 3 peers", stuff like that. We already show  some unpolished stuff like "HLS media source attached".

Also, instead of general slogans, we can also explain small things, like "Par

[2017-10-18 13:00] #148 closed, assigned to nobody

[2017-10-18 13:07] pedrocasa commented on #162
- M06: I thought about it with @jrgarou. The interesting thing about keeping this button on is that if the user gets distracted he will not be confused about what happened (both alternatives are OK for me).

- M14: We need to create an issue exclusively for this page. I still don't understand why we need so many options in that modal (is there another way to make it more automatic and simple?)

-

[2017-10-18 14:13] pedrocasa commented on #163
- Search Field: My idea was to leave all the search process exclusively on the M54-M58 pages,  It doesn't matter if it is a playlist, a video or a channel/user ( same flow used on youtube, Spotify, Vimeo ... ).
If the advantage of having a search field on the playlists page is to search only playlists we can design more options on the page M57.

- There's no side scroll, if you add a new playlist

[2017-10-18 14:53] jellegerbrandy opened #170 "Design.Mini: sharing/embedding modal M14"
referring to the design on #162

Need to define the content of the sharing/embed modal.

Current modal for embedding is this:

![image](https://user-images.githubusercontent.com/1306173/31724876-2ba47e00-b423-11e7-8fce-4062a8d39580.png)

Proposal is  part of #162 (my screen capture refuses to select from the pdf) and has two options (link and embed snippet) together.

[2017-10-18 14:53] jellegerbrandy commented on #170
@pedrocasa asks: "I still don't understand why we need so many options in that modal (is there another way to make it more automatic and simple?)"

[2017-10-18 15:54] jellegerbrandy commented on #170
We probably should to it just as youtube does:

* click on the "share" icon
* open a modal with different sharing options: a) direct link b) twitter (opens twitter with card preset) c) embed
* clicking on embed opens the modal as above (without the "copy link", which makes no sense there). Perhaps we add a link to the showcase page as well here.

[2017-10-18 15:55] jellegerbrandy commented on #162
Moved discussion about M14 to new issue #170

[2017-10-18 17:36] jrgarou commented on #170
#### We can create two buttons on player to call the modals:
- **modal one:** social share + copy link. Something like youtube

![image](https://user-images.githubusercontent.com/320157/31732602-d5fe1e12-b417-11e7-996f-d92a774ed978.png)
- **modal two:** the embed code + options(capabilities and/or sizes)

#### Or we can create  two modals linked and use the same approach that we got now on sign in

[2017-10-18 17:57] pedrocasa commented on #170
I Agree with @jellegerbrandy and @jrgarou  about the "social share" ( direct to twitter, facebook, blabla )

My only concern is about the options of capabilities and sizes of the embed sharing.

- Do we need it all?
- Does the user needs to worry about what is the correct size for embedding it on his blog (what happens when the viewer of his blog open it on a mobile device that's smaller than the

[2017-10-18 18:50] jellegerbrandy commented on #170
@enricocicconi

[2017-10-18 21:41] geckoslair commented on #170
@jellegerbrandy

@pedrocasa

I think in that stage user (mostly creators maybe?) needs a deep control of the embeded player capabilities, look and feel etc.

It depends: mini, tiny ect. operate on two aspects: sizes and features. Sizes can be customized by the user/creators directly on the embed code. Maybe the best approach is to rename "tiny" and "mini" with something like "lite" "minimal" etc.

[2017-10-19 07:14] jellegerbrandy commented on #170
* +1 for renaming "tiny" and "mini" something like "minimal" and "lite" (although i do not much like "lite"). The october sprint does not have tiny in it, so for this iteration, we can hide the choice (and decide later)
* +1 for "autoplay is disabled for pay-per-view (if it is not paid for, of course :-))".
* About the complexity of options for the embed: this is only the beginning. Eventually, we

[2017-10-19 07:28] jellegerbrandy commented on #169
*wrt october sprint* Since the wallet is out of scope for the october sprint, we can put M73-M75 aside from now, and go with the nice M70-M72.

[2017-10-19 07:32] jellegerbrandy commented on #163
+1 for having one general search field that works the same everywhere you encounter it (i.e. no separate "search for playlists" or something). I think it should not be separate from the playlists, though., https://github.com/Paratii-Video/paratii-player/issues/165#issuecomment-337534830

[2017-10-19 07:33] jellegerbrandy commented on #162
* about M06: we can implement it as you designed it - if it turns out not to work in practice, we can always change it.

[2017-10-19 10:03] eliawk opened #171 "Anonymous usage and account creation"
Cases:

- [ ]  **(1) user on virgin device** user arrives on player -->
   - [x] create anonymous keystore with default password, which gives us an address but no (meteor) user account. At a later point , the user is asked to regiser or log in (for example, when he wants to buy a video, when he visits the profile page, at the end of a video...).
  - [x] (1a) In case the user creates a new account,

[2017-10-19 14:06] jellegerbrandy opened #172 "bundle paratii-contracts with the app"
We now have a bit of a laborious process in which we manually copy the ABI code from the paratii-contracts repo to the paratii-player.

Instead, we shoud include `paratii-contracts` in `package.json`, and import the ABI directly from there.

[2017-10-19 14:12] pedrocasa commented on #171
Do we need to show the user that we are creating an anonymous keystore?

[2017-10-19 15:14] jellegerbrandy commented on #171
no, the idea is that this whole keystore complexity remains transparent for the casual user.  So in step 1,the use can just play the vid immediately

[2017-10-20 12:19] geckoslair commented on #10
Close in favor of: #165

[2017-10-20 12:19] #10 closed, assigned to jrgarou, lupape

[2017-10-20 12:21] pedrocasa commented on #166
- Sign flow re-uploaded

[2017-10-20 12:31] geckoslair commented on #169
@pedrocasa regards M79, i think it's better to show the message in a non-blocking notification, like gmail for example. What you think?
![image](https://user-images.githubusercontent.com/4333157/31820831-4b745062-b5a3-11e7-9482-03a4b4f44a2d.png)

[2017-10-20 12:37] geckoslair commented on #116
just the mini version for October sprint #143

[2017-10-20 13:09] geckoslair commented on #158
Maybe ses by amazon @ya7ya

[2017-10-20 13:11] pedrocasa commented on #166
- Sign flow re-uploaded

[2017-10-20 13:14] geckoslair commented on #149
cf: #169

[2017-10-20 13:14] geckoslair commented on #150
cf: #169

[2017-10-20 13:18] geckoslair commented on #145
@felipegaucho needs to make a selection first

[2017-10-20 18:19] pedrocasa commented on #171
oK, got it.
(3) Do we need to create a new modal with the "continue Anonymous" option or the M44 does the job by clicking on the X button?

[2017-10-20 18:30] pedrocasa commented on #162
Flow re-uploaded

[2017-10-20 18:56] pedrocasa commented on #167
There's also another thing that can be a problem in the future. The user shouldn't have the option to write his email address ( the player are going to send an email exclusively for the address that is already registered in the profile )

[2017-10-20 20:07] pedrocasa commented on #167
flow re-uploaded

[2017-10-21 07:49] jellegerbrandy commented on #171
Good point. I'd say that we add a third option on M44: so we have "sign in", "sign up" or "continue anonymously"

[2017-10-21 07:52] jellegerbrandy commented on #144
The problem is that circileci times out on the `meteor test` command:https://circleci.com/gh/Paratii-Video/paratii-player/tree/ya7ya-meteor%2Fupdate.

 "rebuild without cache" timed out as well.

The timeout is not completely predictable either: build nr 752 did not time out.

[2017-10-23 16:45] pedrocasa commented on #170
re-uploaded https://github.com/Paratii-Video/paratii-player/issues/162

I made a two-steps modals for the embed function as a test
The actual "embed modal" seems a bit tight to me

[2017-10-23 18:19] pedrocasa commented on #171
@jellegerbrandy

  I and @jrgarou  were discussing it and we think the user may not know what continue anonymously means.
We still think that closing the modal is the more natural behavior for the user to continue to navigate without logging  in

[2017-10-23 18:51] pedrocasa commented on #169
@jellegerbrandy  @geckoslair
(1) Maybe the solution for the error on an input field is to use non-blocking notification in every circumstance ( as @geckoslair  mentioned for M79 )

![m77](https://user-images.githubusercontent.com/30123644/31907388-71724fa0-b812-11e7-8c06-d52ad2a6f598.png)
![m73](https://user-images.githubusercontent.com/30123644/31907390-719553ba-b812-11e7-81e0-7e92707ed63c.png)

[2017-10-23 20:22] pedrocasa commented on #169
@jellegerbrandy @geckoslair @felipegaucho
(1) Maybe the solution for the error on an input field is to use non-blocking notification ( as @geckoslair mentioned for M79

( version 1)

 -  texts are just placeholders

![m73](https://user-images.githubusercontent.com/30123644/31911756-81767904-b820-11e7-8b7c-a11ff89e176d.png)
![m76](https://user-images.githubusercontent.com/30123644/31911757-81c3c3da

[2017-10-23 20:55] geckoslair commented on #169
@pedrocasa love both, but i prefer the version 2 (i love verbose actions).

As for the modal we have to provide notifications/messages in every moment (maybe on the top of the window). These are some examples of what we could do: http://github.hubspot.com/offline/docs/welcome/.

[2017-10-23 21:32] pedrocasa commented on #163
- re-uploaded flow
- I still haven't found a way for the user to subscribe to a playlist

[2017-10-23 22:20] mrocha94 commented on #61
![image](https://user-images.githubusercontent.com/9802645/31916011-8456ac66-b82f-11e7-90ba-d670d9281244.png)

Is it fine?

[2017-10-24 08:04] jellegerbrandy opened #173 "get accepted by embed.ly"
- [ ] we need to implement player.js API

[2017-10-24 08:27] jellegerbrandy commented on #61
Yes, pretty good, thanks. I think we will adapt the copy once we have it integrated.

[2017-10-24 08:55] jellegerbrandy opened #174 "multiple resolutions for videos"
For performance, the player should choose different quality/format of video depending on their connection, their device, etc.

This needs a backend part (@yahya) and a frontend integration.

In the long term, the choice will be made by the player itself, but it would make sense to have a dropdown option on the menu with different resolutions (as other video players have)

[2017-10-24 10:16] jellegerbrandy opened #175 "refactor player.js and player.html"
Handling of current Video is a mess; we find the video in 3 different places:

* global var `_video`
* template reactiveVar `this.currentVideo`
* direct call to the database using `video` template helper

This needs to be refactored - we should set the reactive var onCreated (as is done now) and **only** use that.

Also, *global variables are evil and to be avoided if possible*

[2017-10-24 12:24] pedrocasa commented on #169
tnks
soon I'm gonna open an issue about it ( notifications )

[2017-10-24 13:56] jrgarou commented on #155
@jellegerbrandy @geckoslair @eliawk
Is this for the **october sprint**?
![image](https://user-images.githubusercontent.com/320157/31946716-4dbf6346-b8b1-11e7-8a7f-254c01f61432.png)

[2017-10-24 14:08] jrgarou commented on #170
I create the share modal with two "steps"(works on frontend branch):

![image](https://user-images.githubusercontent.com/320157/31947359-e604bc2c-b8b2-11e7-960d-76eee25b1445.png)
![image](https://user-images.githubusercontent.com/320157/31947827-001f3e42-b8b4-11e7-9d01-4fea3b20145a.png)

[2017-10-24 16:33] pedrocasa commented on #170
@jrgarou  We need the copy button and the "URL" title on the first modal

[2017-10-24 16:35] pedrocasa commented on #170
What does the "playsinline" option do?
@enricocicconi

[2017-10-24 20:36] pedrocasa commented on #169
re-uploaded the flow ( categories (1) and (2) )

- we should put a "cant leave blank" error visual feedback on every text box that has to be filled (im suggesting a red underline on boxes that have an error) plus the top error bar saying what the user did wrong
- I'll upload as a pdf until I find a viable way to prototype

[2017-10-24 21:12] pedrocasa commented on #169
Found it on medium

https://uxplanet.org/mobile-ux-design-user-errors-1ad1f5d664f9

[2017-10-24 21:29] jrgarou commented on #155
### login flows
**signin**
Can we implement the forgot password screen(email validation, get success on send and then receive a link that open the modal and finish the process)?

**signup**
I validate all errors(username+email, password and email already exist) but always return this error:
![image](https://user-images.githubusercontent.com/320157/31965386-034420ec-b8e6-11e7-9fbc-146445442597.png)

[2017-10-24 21:32] pedrocasa commented on #169
https://uxplanet.org/mobile-ux-design-user-errors-1ad1f5d664f9

[2017-10-25 07:31] jellegerbrandy commented on #169
very nice article

[2017-10-25 07:33] jellegerbrandy commented on #155
@jrgarou: in what case do you get the error on signup?

[2017-10-25 09:19] #160 closed, assigned to jellegerbrandy

[2017-10-25 09:42] geckoslair opened #178 "Road to Embed.ly"
Embed.ly has some requirements ( http://embed.ly/providers/new ) :

- [x] - 1 The embed needs to be novel, in that it provides some functionality to the end user. i.e play a video, scroll through a Behance portfolio or view a slideshow.
- [x] - 2 Your URLs and pages must be crawlable server side.
- [x] - 3 The embed must be responsive and, at minimum, work between 280 and 800 pixels.
- [x] - 4 The

[2017-10-25 09:52] jellegerbrandy commented on #173
closing as superseded by the magnificent #178

[2017-10-25 09:52] #173 closed, assigned to geckoslair

[2017-10-25 09:54] geckoslair opened #179 "Road to Publish oEmbed Plugin in Wordpress"
The wordpress plugin is available at:

https://github.com/Paratii-Video/paratii-embed

it might be nice to publish it.
https://developer.wordpress.org/plugins/wordpress-org/detailed-plugin-guidelines/

- [ ] 1. Plugins must be compatible with the GNU General Public License v2, or any later version, to be hosted on WordPress.org.
- [ ] 2. Plugin developers are responsible for the files they upload

[2017-10-25 10:24] geckoslair opened #180 "Thumbnails for videos"
We need different thumbnails for videos.

**Twitter**
Image to be displayed in place of the player on platforms that don’t support iFrames or inline players. You should make this image the same dimensions as your player. Images with fewer than 68,600 pixels (a 262x262 square image, or a 350x196 16:9 image) will cause the player card not to render. Images must be less than 5MB in size. JPG, PNG, WE

[2017-10-25 13:35] jrgarou commented on #155
@jellegerbrandy Always when I send the form(even when everything was validate)

[2017-10-25 13:35] jellegerbrandy opened #181 "keystore need to be saved under the ETH address (not by meteor.userId)"
Now, keystores are set in localstorage with the following keys:

`keystore-anonymous`
`keystore-{userId}`

the last one needs to become

`keystore-{ethereumadderss}`, so we can find it (in theory) also when we remove the meteor users from the equation

Not sure exactly of all the consequences...

[2017-10-25 13:54] pedrocasa commented on #169
Working on errors that happen asynchronously (3)

![m79](https://user-images.githubusercontent.com/30123644/32002379-217b4a32-b97b-11e7-9ccd-641a4783b286.png)
![m80](https://user-images.githubusercontent.com/30123644/32002380-219889da-b97b-11e7-9f18-1656f207e9e4.png)
![m78](https://user-images.githubusercontent.com/30123644/32002381-21c125c0-b97b-11e7-9728-3e59136a33ef.png)

gimme your opinion whe

[2017-10-25 15:11] eliawk commented on #181
yes but we need to save the ET address also to the user in meteor db to have a connection between the user and keystore

[2017-10-25 17:25] #61 closed, assigned to mrocha94

[2017-10-25 17:59] pedrocasa commented on #174
![capture](https://user-images.githubusercontent.com/30123644/32014647-6c7c4cb2-b99d-11e7-9dc4-595942a494ae.JPG)

[2017-10-25 18:27] pedrocasa commented on #170
the actual share modal is a bit tight
One of the solutions is to add one step modal as the flow that I re-uploaded

[2017-10-26 08:28] jellegerbrandy commented on #169
I think it is too invasive. Connection problems are pretty normal, we just want to inform the reader, not scare him away. I'd say a bit smaller, and perhaps not red.

[2017-10-26 08:30] jellegerbrandy commented on #155
ok, it's a bug, can you make a separate issue for it @jrgarou?

On Wed, Oct 25, 2017 at 3:35 PM, Paulo dos Santos <notifications@github.com>
wrote:

[2017-10-26 10:14] jellegerbrandy opened #182 "write tests for increment like and dislike counters"
These tests are now commented in `player.test.js` (search for `TODO`) - and should be migrated to chimp tests.

[2017-10-26 10:24] jellegerbrandy opened #183 "login and registration modal: inserted text should be a darker color"
now, the inserted text seems a place holder.

![image](https://user-images.githubusercontent.com/1306173/32048113-989d61f4-ba48-11e7-9480-20f00e51824d.png)

[2017-10-26 10:31] ya7ya commented on #174
@pedrocasa Very cool. 👍  Maybe we can have a class for the chosen resolution that adds a check before the current resolution or change the font text.

[2017-10-26 10:34] ya7ya commented on #158
@geckoslair Sorry for the late reply. I missed the notification. Yes, I'll check SES.

[2017-10-26 12:51] jellegerbrandy opened #184 "make regenerateKeystore modal pretty"
This new modal needs to be styled - it's called 'regenerateKeystore'

![image](https://user-images.githubusercontent.com/1306173/32053922-f7ebac56-ba5c-11e7-844b-e06f03b02e76.png)

[2017-10-26 14:00] jrgarou commented on #183
@jellegerbrandy fixed https://github.com/Paratii-Video/paratii-player/commit/d49acc52139be02d47790ac3730799baec52cc8f

[2017-10-26 14:39] jrgarou commented on #184
@jellegerbrandy done https://github.com/Paratii-Video/paratii-player/commit/bfe3aa571de97be12969d9392979cdcd33265098

[2017-10-26 18:12] jrgarou commented on #165
I do agree with @jellegerbrandy. And discover(y) is a good name too 😀
What I think that is good:

## Option 1:

- Page title (Discover, Search, Find, Enjoy, Have fun... Could not be _Playlists_)
- **Videos list**
  - A section title(Videos. movies...) with(or not) a search for videos
  - A search videos if there's no search on title
  - Videos list with only 3 videos to make playlists list visible

[2017-10-27 09:27] geckoslair opened #185 "sharing modal: telegram and whatsapp"
- [x] i'd like to add Telegram because the sharing url is cross device (whatsapp it's not).
- [x] we have to remove whatsapp on no mobile device

what about?

i've added telegram with whatsapp icon on dev

[2017-10-27 10:07] geckoslair commented on #158
@ya7ya i was just kidding. @jellegerbrandy tell me about your love for amazon :D

[2017-10-27 10:09] ya7ya commented on #158
@geckoslair lol 😆 , Nah SES will do fine for now, We do need to verify the domain to be used by SES though. 👍

[2017-10-27 10:10] jellegerbrandy commented on #158
Amazing though how we started with a "we'll just use bare aws machines so we can leave amazon whenever we want" to "we have elastic IPs now, let's integrate email as well, these load balacer things could be useful too" in like two weeks :-)

[2017-10-27 10:10] geckoslair commented on #145
it's related to Video content #180

[2017-10-27 10:14] ya7ya commented on #158
@jellegerbrandy hahaha, yeah, That's how they get ya :D

[2017-10-27 14:00] felipegaucho commented on #145
Selection for the mvp: https://docs.google.com/spreadsheets/d/1epVyYWi3VzxC_VMyc6p6eyYJF1Env2B1OM6bXc3lEcU/edit?usp=sharing

So we need to manually do thumbs for these dimensions #180? If yes, there's rows in the sheet and we can do it :)

[2017-10-27 14:02] jellegerbrandy opened #186 "implement style for showSeed modal"
the templates i`showSeed` still has the bootstrap layout

[2017-10-27 14:10] jellegerbrandy opened #187 "Implement search"
this is a precondition for #165

[2017-10-27 14:15] jellegerbrandy opened #188 "Implement player design as in M81"
Here's the design #162

[2017-10-27 14:22] jellegerbrandy opened #189 ""next up" (you may also like, related) videos"
#162, M12

- [x] We need a (server-side) function which could look like

`nextUpVideos(videoId, userId)` that returns an array with 6 video arrays.

first iteration can just be 6 random vids.

- [x] integrate this with palyer (when video ends, thes nextup vids need to be shown)

- [ ] make it pretty

[2017-10-27 14:28] jellegerbrandy commented on #166
I'm bit late with this, but I think the email-confirmation step should not be blocking for account creation. It should be an optional, a nice thing to do and with which to earn some PTI, not an obligation.
Ie. we should go from M46 to M48. The email confirmation is a separate flow, iniated by the email link.

[2017-10-27 15:10] mrocha94 commented on #186
I think I can do this issue, any specific modal for me to take a look?

[2017-10-27 15:11] felipegaucho commented on #165
I like the 2nd :)

[2017-10-27 15:29] jellegerbrandy commented on #186
yeah, go to https://player.paratii.video/profile and click on "show seed"

[2017-10-27 15:31] jellegerbrandy commented on #145
just to make sure: these are all free for us to use?

[2017-10-29 16:44] geckoslair commented on #170
@pedrocasa iOS (on iphone) by default play the video in fullscreen. Playsinline allows the video to play directly inside the iframe without going fullscreen.

[2017-10-29 16:55] geckoslair commented on #152
@pedrocasa

As i told in #170 "mini" and "tiny" are think basically to reduce player features.
When a user select "mini" or "tiny" we set a suggested sizes: 570 or 340.

We can change "mini" and "tiny" labels in favour of something else like: "lite", "minimal", "essential" etc. ... don't know =)
Another idea could be: we can remove "mini" and "tiny" in favour of a set of settings that customize UI

[2017-10-29 17:06] geckoslair commented on #145
@felipegaucho thumbs are not only for fb or twitter. We needed also for playlist within the app and the oembed service. I think that a first iteration could be the following:

- 1200x1200 px for **twitter** and **oembed**
- 1200x627 px (not 630 as i say in #180 )  for **facebook**.

for playlist thumbnail i don't have idea @jrgarou @pedrocasa  ?

[2017-10-29 17:10] geckoslair commented on #169
agree with @jellegerbrandy, maybe just invert colors (red font over white bg).

[2017-10-29 17:17] geckoslair opened #190 "Disable autoplay features for ppv videos"

[2017-10-30 08:53] jellegerbrandy commented on #145
hey @ya7ya , it's not the nicest job to rip the vids from vimeo and youtube, but since you know how to get them "ipfs ready", can i assign this to you?

[2017-10-30 10:53] ya7ya commented on #145
@jellegerbrandy , Yeah Assign away dude 👍

[2017-10-30 12:19] geckoslair opened #192 "Use blocknumber as the basis for showing upload/edit dates"
We need to define some date for videos collection, there are some limitations?

[2017-10-30 13:40] geckoslair commented on #165
ok!
what happen when the user is searching? All the content (playlist or videos ) disappear and results (matching videos) appear?
@pedrocasa @felipegaucho

[2017-10-30 13:43] jrgarou commented on #165
@geckoslair, if we decide to set the [option 2](https://github.com/Paratii-Video/paratii-player/issues/165#issuecomment-339752309) I believe so: the search filter all content(videos and playlists)

[2017-10-30 14:01] geckoslair commented on #165
@jrgarou

how the search playlists works?

- option one: filter just in playlist matching title/description
- option two: filter playlists that contain video that match the search keyword?

how the search videos (inside a playlist) works?

We don't have soo much content (40 videos)

[2017-10-30 14:17] jrgarou commented on #165
@geckoslair, everything is just an ideia.
Can we apply both? The search playlists show playlists matching title/description **and** that contain video that match the search keyword.

The search videos filter matching title/description.

Maybe we could only filter the videos, and show [all(5) playlist](https://docs.google.com/spreadsheets/d/1epVyYWi3VzxC_VMyc6p6eyYJF1Env2B1OM6bXc3lEcU/edit#gid=0)

[2017-10-30 14:55] jrgarou commented on #169
The design is fine for me. Maybe we can set styles for every error type.
Connection errors could be on video.

Can we list all possible errors?

[2017-10-30 14:58] pedrocasa commented on #165
I agree with @jrgarou
We should apply both and then make a rule about what is more relevant the playlist title or the video title
 ( the more relevant should appear first in the search  page )

[2017-10-30 15:03] pedrocasa commented on #165
I have just one question, If there's no playlist page anymore how can the user create a new playlist or visit the playlists that've just been created ?

[2017-10-30 15:28] geckoslair commented on #165
@pedrocasa @jrgarou
i think it's good to discuss about this issue =) but a relevant sorting it's quite premature at this stage (we have also to defined what is relevant for the user, also for video suggestion and other features). Merging video and playlist in the same results set it's quiet a mess (videos and playlist belong to different collections) .

I suggest this:

- **for the October sprint*

[2017-10-30 16:31] mrocha94 commented on #187
I read the implementation and I recommend using [$text](https://docs.mongodb.com/manual/reference/operator/query/text/) for Mongo search.

Another thing, is it worth keeping two documents one for playlist and another one for videos?

[2017-10-30 17:47] jrgarou commented on #165
@geckoslair, It's no so mess =). It's something like spotify/deezer  [search page](https://open.spotify.com/search/results/brasil), but more clear(less results in only 2 sections(videos results and playlists results)).

[2017-10-30 18:00] geckoslair commented on #165
I've talk with @jellegerbrandy  about this solution, as you say it's quiet easy to implement. The main problem is the ux when the user search in the mini version.

[2017-10-30 18:16] jrgarou commented on #165
I agree with both approaches:
- [Option 2](https://github.com/Paratii-Video/paratii-player/issues/165#issuecomment-339752309)
- Or create two pages
    - Videos page(with search or not)
    - Playlists page(with search or not)

[2017-10-30 18:22] jellegerbrandy commented on #165
* I agree with @geckoslair : for the october sprint, we have a playlists page (with just 4/5 playlists, so no search in playlist needed), and a separate search page for searching in videos (only)
 * Search is a complex issue, and touches many aspects, and also depends very much on the use cases. I think we should discuss the different ideas we have by voice, in a call. perhaps tomorrow, or perhaps

[2017-10-30 18:37] jrgarou commented on #165
Then we agree with 2 pages(videos and playlits) with search inside(same layout(no for details))?

@jellegerbrandy, pagination or load more button

What you think, @jellegerbrandy @geckoslair @felipegaucho @pedrocasa ?

[2017-10-30 19:00] pedrocasa commented on #165
I don't have a final opinion about it, It's hard to predict what'll be the user behaviour when the player has a lot of videos and what's the best for the user right now

- If we create a unique search/discovery page ( what sounds like a great idea)
We shouldn't forget about how the changes will affect the secondary features of the search and playlist pages ( such as create a new playlist button  )

[2017-10-30 19:14] pedrocasa commented on #169
I understand it and agree that simple errors don't need to be that invasive

As @jrgarou said It's important to have a list of all possible problems and which are more "serious"  and which are just every day possible problems.

It would be great if we can list these errors in the 3 categories that @jellegerbrandy mention in the first comment of this issue ( and even write what the user should do w

[2017-10-30 19:20] pedrocasa commented on #169
I understand it and agree that simple errors don't need to be so invasive

As @jrgarou said, it's important to have a list of all possible problems and which ones are more "serious"  and which are just "casual" problems.

It would be great if we could list these errors in the 3 categories that @jellegerbrandy mentioned in the first comment of this issue and write what the user should do when it ha

[2017-10-30 19:31] jellegerbrandy opened #194 "meteor test on circleci started suddenly failing"
[code]

[2017-10-30 19:42] jellegerbrandy commented on #169
Realistically, we will never have a ist of **all** possible problems. There
will always be situation we have not thought of, or the necessity to
distinguish types of errors that we first thought could be conflated, etc
etc.

We need a easily reusable error handling for each type of error, and a
generic UI/UX design that we can recyle easily..

On Mon, Oct 30, 2017 at 8:20 PM, Pcasa <notifications@

[2017-10-30 19:50] jellegerbrandy opened #195 "upgrade node"
To version 8.*
- [x] on circleci
- [x] on staging
- [x] on production
- [ ] on all devs machines :-)
- [x] on build.paratii.video

[2017-10-30 19:51] jellegerbrandy commented on #194
probably best to first resolve #195

[2017-10-30 19:54] ya7ya commented on #195
@jellegerbrandy v8.5.0 or higher because there was an exploit with 8.4.0

[2017-10-30 19:58] ya7ya commented on #195
- [x] IPFS instance ( v8.5.0) (transcoder + bootstrap + star signaling)

[2017-10-30 20:11] pedrocasa commented on #169
Make sense
gonna work on that

[2017-10-30 23:28] jrgarou opened #196 "Navigate into playlists videos with skip button when video is locked"
It is not possible navigate into playlists when the video is _locked_.
We can to keep the navigation buttons(skip) or create another way to do it.

![image](https://user-images.githubusercontent.com/320157/32200529-42a34a9c-bdb9-11e7-978f-8a6e2c65a636.png)

[2017-10-31 02:46] geckoslair commented on #134
@felipegaucho
can you do the same thing for staging?
https://staging.paratii.video/play/4?playlist=1

[2017-10-31 02:57] #190 closed, assigned to geckoslair

[2017-10-31 09:01] jellegerbrandy opened #197 "refactor opening/closing of modals"
The wanted setup:

* a function: `showModal('modal-content-template', {option1: optionval, ...})` that will either (a) if no modal is open, open a new modal showing `modal-content-template` or (b) if a modal is open, replace thecontent of the modal witht he given content
* use only `showModal` and `Modal.hide()` in the code

Things to do:

* define `showModal`
* refactor code and tests
* rename `u

[2017-10-31 09:13] #171 closed, assigned to nobody

[2017-10-31 09:41] #183 closed, assigned to jrgarou, pedrocasa

[2017-10-31 09:41] #184 closed, assigned to jrgarou, pedrocasa

[2017-10-31 10:14] jellegerbrandy opened #198 "clicking on "watch for X PTI" when not logged in does not open the login modal"
it opens a login form inline instead

reproduce:

1. make sure you are logged out
2. navigate to https://staging.paratii.video/play/5?playlist=1
3. click on "watch 14 PTI"

depends on #197

[2017-10-31 10:19] jellegerbrandy opened #199 "sharing modal: add icon for telegram"
![image](https://user-images.githubusercontent.com/1306173/32219023-15273c8a-be2d-11e7-8c11-27a120d88dac.png)

Also the height needs to be fixed - depends on #197

ref #170

[2017-10-31 10:22] jellegerbrandy opened #200 "Implement "watch" slider as show in M01"
It is now just a clickable button.

Cf M01 in #162

[2017-10-31 10:27] jellegerbrandy opened #201 "Sharing text"
now we have sharing buttons for email, whatsapp, telegram etc.
As of speaking, we are just sharing a link to the player.

We probably want to decorate the messages with a bit of text, something like "look at this cool video I found: " - or perhaps something more like "watch this video in the decentralized Paratii Player".

[2017-10-31 10:46] jellegerbrandy opened #202 "like/dislike buttons do not work in anonymous navigation"
They are enabled, but not working.

i think they should just work.

[2017-10-31 11:05] jellegerbrandy opened #203 "play button must be disabled until video is actually ready for playing"
Reproduce:

1. go here: https://staging.paratii.video/play/8?playlist=4
2. Click on "play"
3. See a black screen (until the vid s downloaded, which may take ages)

The paly button must be disabled until the vid is ready to play.

(Once we have implemented #154 , this behavior may cahnge)

[2017-10-31 11:07] jellegerbrandy opened #204 ""buy video" modal shows "loading..." for no apparent reason"
reproduce:

1. go tohttps://staging.paratii.video/play/5?playlist=1
2. click on "watch 14 PTI"

There are also some other bugs on the form (error messages are not showing, for example)

[2017-10-31 11:08] jellegerbrandy opened #205 "if your balance is too low to afford to pay for a video,...."
if your balance is too low to afford to pay for a video, clicking on "buy video" should let you know this and give you some ideas to get PTI (instead of just showing the modal)

[2017-10-31 11:24] jellegerbrandy opened #206 "hide tiny/mini choice in sharing modal, for the october sprint"
Since we do not have a tiny version yet, we should not offer the choice at this point.  (just hide it, not remove)

design is here for reference : #170

[2017-10-31 12:16] jellegerbrandy opened #207 "implement the modals for confirmation of the seed phrase"
Please see the comment on the relevant issue: https://github.com/Paratii-Video/paratii-player/issues/166#issuecomment-343872265

[2017-10-31 12:17] jellegerbrandy commented on #166
A detail: the 12 words have spaces between them. They should not be separated by dashes, which just adds to the confusion for the user.

[2017-10-31 12:21] jellegerbrandy opened #208 "Add confirmation for logout"
As in M69 in issue #166

[2017-10-31 12:24] jellegerbrandy commented on #165
[for the october sprint, we just implement text search]

[2017-10-31 12:32] jellegerbrandy commented on #165
I have some reservations about the sorting options:

- "sort by price", descending, ascending. Guys. We are not a shop. We are a video platform. What are you going to do with your next 2 hours, watch a movie because it is 1$ cheaper than another?
- "sort by date". Date of what? Date fo upload? Date of creation?
- there are so many other ways or ordering (alphabetically by title, author, by popular

[2017-10-31 12:32] jellegerbrandy commented on #165
these are YT "filter" options:

![image](https://user-images.githubusercontent.com/1306173/32223963-e1e235e2-be3f-11e7-8d2b-16c4709b90a1.png)

[2017-10-31 12:40] jellegerbrandy commented on #187
@mrocha94 , for yr first remark, can you add a link to the code?

The second remark I do not really get. Is yr question: "why are there two collections: one for playlists, one for videos"?

[2017-10-31 13:21] pedrocasa commented on #199
If needed https://we.tl/7RAl3pHZTN ( telegram svg )

[2017-10-31 14:04] jellegerbrandy commented on #164
A "change profile pic" is missing

[2017-10-31 14:06] jellegerbrandy opened #209 "What to show on the profile page for the october sprint"
We have a nice and detailed design in #164. however, it contains a lot of functionality that is out of scope.

I propose to

* hide the action buttons that we are not using. So all the send/receive buttons will be hidden
* also hide "transaction history" link
* also hide the "filecoin" tab

Design: [flow-wallet-octobersprint.pdf](https://github.com/Paratii-Video/paratii-player/files/1447454/flow-w

[2017-10-31 14:22] jellegerbrandy opened #210 "remove legacy tests"
Remove all tests marked "legacy".
And also remove the "atForm" on the profile page.

[2017-10-31 14:30] pedrocasa commented on #209
![capture_01](https://user-images.githubusercontent.com/30123644/32229148-4fd67f30-be37-11e7-8ba6-6a74c7f832f8.JPG)

[2017-10-31 14:31] jrgarou commented on #199
@jellegerbrandy done https://github.com/Paratii-Video/paratii-player/commit/0fcbff1368fe4f41ec6dd1c3e177915770903d5c

[2017-10-31 15:08] jellegerbrandy opened #211 "make a "migrate your videos from youtube" tool"

[2017-10-31 16:14] mrocha94 commented on #187
Just change the query from $or [search.js#L43](https://github.com/Paratii-Video/paratii-player/blob/ca7c8663b6cb2505a16b745c09d3eea5f2856cc5/imports/ui/pages/search/search.js#L43) to something like this:

[code]
And we have to create a index for every field that we want to search with:

[code]

[Here](https://blog.codecentric.de/en/2013/01/text-search-mongodb-stemming/) explains why Mongo is reall

[2017-10-31 16:22] jellegerbrandy commented on #187
@enricocicconi : mateus is right about the mongo search..

Two collections: Good question.  For getting search to work across both videos and playlists, it is more convenient to have a single collection. For managing permissions and business logic, it is convenient to have two different collections. So to me, there is no clear best choice. For now (october sprint), we'lll keep them separate - we c

[2017-10-31 17:12] pedrocasa commented on #164
@jellegerbrandy  M43

[2017-10-31 17:31] geckoslair commented on #187
@mrocha94 good point ! we can add this and sorting score desc by default. What you think? i can do it

[2017-10-31 17:47] geckoslair commented on #165
@jellegerbrandy at current stage searchable fields are:
title
description
uploadername
tags

[2017-10-31 21:02] eliawk commented on #197
It's all done! @jellegerbrandy dow you close the issue?

[2017-11-01 11:14] jellegerbrandy opened #212 "redirect user to / if she arrives at the /profile page and is not logged in"

[2017-11-01 11:20] jellegerbrandy commented on #144
Meteor 1.6 has been released, and we should try this with the new version to see if the bug has been solved.

[2017-11-01 12:21] jellegerbrandy opened #213 "check the actual price of the video in unlockvideo"
It now has a hardcoded price fo 14 PTI and uses that before  checks the actual price.

[2017-11-01 14:00] #210 closed, assigned to jellegerbrandy

[2017-11-01 14:01] #197 closed, assigned to eliawk

[2017-11-01 15:24] jellegerbrandy opened #214 "use either 127.0.0.1 or localhost in tests, but not both"
At the moment, both are used, and that is asking for trouble.

Let's only use "localhost" in all tests.

[2017-11-01 22:04] eliawk commented on #155
they work now, i close the issue!

[2017-11-01 22:04] #155 closed, assigned to eliawk, geckoslair

[2017-11-01 22:07] eliawk commented on #212
yes but we are in an empty page. maybe would be better to redirect the user to the home ig is not logged in?

[2017-11-02 10:20] jellegerbrandy commented on #212
I think that if a user requests the `/profile` URL, she will be expecting to see the profile page. If she is logged in, we show it to her; if she is not logged in, she needs to log in (or crate an account) to see it, so we ask her for her credentials, and then show her the profile page.

I think redirecting her to another page of our choice would be confusing here.

[2017-11-02 10:28] #153 closed, assigned to jellegerbrandy

[2017-11-02 10:29] #146 closed, assigned to jellegerbrandy

[2017-11-02 10:38] jellegerbrandy commented on #144
This could be our bug: https://github.com/meteor/meteor/issues/9026
removing tis issue from october sprint

[2017-11-02 11:01] #199 closed, assigned to jrgarou

[2017-11-02 11:25] #198 closed, assigned to nobody

[2017-11-02 11:30] jellegerbrandy opened #215 "Hide "watch later" UI for october sprint"

[2017-11-02 11:30] jellegerbrandy opened #216 "Implement "watch later" UI and logic"
See #215

[2017-11-02 11:45] jellegerbrandy opened #217 "show errors on signin"
Now, if you give the wrong password (etc), there is no feedback at all...

(also: write tests!)

[2017-11-02 12:01] #214 closed, assigned to nobody

[2017-11-02 12:01] #157 closed, assigned to nobody

[2017-11-02 13:26] jellegerbrandy commented on #212
Yes, lets do that.

[2017-11-02 13:56] jellegerbrandy commented on #149
This is a duplicate of #169

[2017-11-02 13:56] #149 closed, assigned to nobody

[2017-11-02 14:06] jellegerbrandy opened #218 "remove "add to playlist" from player"

[2017-11-02 14:07] jellegerbrandy opened #219 "remove owner avatar from video"
for the otober sprint, we will hide the uploader avatar

[2017-11-02 14:08] jellegerbrandy commented on #188
closing in favor of #218 and #219

[2017-11-02 14:08] #188 closed, assigned to jrgarou

[2017-11-02 14:39] jrgarou commented on #217
@jellegerbrandy @eliawk For that we need to implement the @pedrocasa warnings.

[2017-11-02 14:41] #212 closed, assigned to eliawk

[2017-11-02 14:53] #219 closed, assigned to jrgarou

[2017-11-02 14:53] #215 closed, assigned to jrgarou

[2017-11-02 14:53] #218 closed, assigned to jrgarou

[2017-11-02 14:56] #208 closed, assigned to nobody

[2017-11-02 15:20] #186 closed, assigned to jrgarou

[2017-11-02 15:23] eliawk opened #220 "iOs player issue"
On ios after the fullscreen forced by the OS, when you go back to the application the navigation stay hidden.

[2017-11-02 15:25] eliawk opened #221 "Unlock Video Modal"
It's not working:
- we need to write correct test for it (because now they are passing)
- we need to make it works

[2017-11-02 19:25] jrgarou commented on #217
@eliawk @jellegerbrandy Done https://github.com/Paratii-Video/paratii-player/commit/2a39726bb91afa9c64644b3010365e1e110c4682

[2017-11-03 09:55] #217 closed, assigned to jrgarou, eliawk

[2017-11-03 12:07] pedrocasa commented on #169
@jellegerbrandy tell me what you think about this ( image bellow)

![002](https://user-images.githubusercontent.com/30123644/32373077-9f72019c-c07e-11e7-9346-d617dcd539e8.png)

[2017-11-03 12:23] pedrocasa commented on #169
@jellegerbrandy please tell me what you think about it

- I tried to put a description of the problem in the situation (3) but it did not fit

![002](https://user-images.githubusercontent.com/30123644/32373580-0c34455e-c081-11e7-9580-2d72208b2e08.png)

[2017-11-03 12:25] pedrocasa commented on #169
@jellegerbrandy please tell me what you think about it

- I tried to put a description of the problem in the situation (3) but it did not fit

![002](https://user-images.githubusercontent.com/30123644/32373494-a8415f1e-c080-11e7-85b9-4e624367f94b.png)

[2017-11-03 12:29] bent0b0x commented on #154
A couple of questions:

1. Is this text overlay/loading screen intended to only mask the view of the individual video being loaded and leave other UI pieces (e.g. sidebar) visible?
2. Is there a design for this?

[2017-11-05 17:03] bent0b0x commented on #209
Is there an asset in the app already for the gear/settings icon in the top-right of this mock-up? I cannot seem to find another example of it in the player.

[2017-11-05 17:45] bent0b0x commented on #209
Another question, probably for @pedrocasa regarding the back button next to the user's name in the profile view. Where exactly is that supposed to take you? It could take the user to whatever their previous page was, but what if they have navigated directly to the profile page, for example?

[2017-11-05 17:48] bent0b0x commented on #209
Also, to which view should the "Earn More PTI" link take you?

[2017-11-05 19:08] pedrocasa commented on #209
Hello ben,
- it's not already on the player but you can see the design of it in the issue #164
- yes, it takes d user for the previoua page. There's no way to the user go directly for the profile page (  i.e. spotfy flow  )
- There'll be no more earn more pti buttons

[2017-11-05 19:23] bent0b0x commented on #209
Got it, thanks! Do you have an `svg` file for that icon that you could send? I only see it as part of a pdf. Or, if it is typical on this team for FE devs to generate the SVGs themselves just let me know!

[2017-11-05 21:08] bent0b0x commented on #209
Is there a mock-up for the modal content when you click on "Earn more ETH"?

![image](https://user-images.githubusercontent.com/7697924/32419140-8e87599c-c243-11e7-9387-e722d2e8d0b2.png)

I see this for PTI but cannot find a corresponding copy for ETH. If they are the same except for the PTI/ETH unit, let me know!

[2017-11-06 09:04] jellegerbrandy commented on #209
Actually, we had more or less decided (elsewhere) that this "earn more pti" information info should not be presented to the user in these modals, but on the "corportate" website. So I'd say it is better to remove  teh "earn more PTI" link

[2017-11-06 09:17] jellegerbrandy opened #223 "hide logout link when user is not logged in"
The logout link on the vertical menu should not be shown if user is not logged in

[2017-11-06 09:22] jellegerbrandy opened #224 "hide 'creaet playlist' for october sprint"

[2017-11-06 09:33] jellegerbrandy opened #225 "improve copy of sharing/embed modal"
On "sharing/embed modal":

* "Get Embed" --> "Embed video"
* title "Embed" --> "Embed video"
* above the embed code add "Add the following code to your website"
*
![image](https://user-images.githubusercontent.com/1306173/32434098-6b3803b6-c2dd-11e7-894e-7b2f48308ff5.png)
![image](https://user-images.githubusercontent.com/1306173/32434122-7ab61d0a-c2dd-11e7-9b6a-9630d9e8665a.png)

[2017-11-06 09:58] jellegerbrandy opened #226 "Search page: show "no results found" if no results were found"
We need *some* kind of feedback to the user if no results are found (now it looks like the search page is simply not responding)

[2017-11-06 09:59] jellegerbrandy opened #227 "Search page: layout of input element"
It needs at least some borders to make it recognizable as a search box

[2017-11-06 10:07] jellegerbrandy opened #228 "how to show more than 6 (or 9?) elements in a playlist"
What do we do if the number of items does not fit on the page? This pertains to the list of playlists, as well as to the list of videos in a playlist, and also to the search results.

- 1 scroll. (not so nice in an iframe, i vote against)
- 2 paging (i.e. "next page/prev page")
- 3a Neither paging nor scroll, just show the first 6/9 results and ignore the rest
- 3b Neither paging nor scroll, and l

[2017-11-06 10:10] jellegerbrandy opened #229 "remove "my videos" from left menu for october sprint"

[2017-11-06 10:13] jellegerbrandy opened #230 ""new wallet" modal: does not show error message when entering wrong password"

[2017-11-06 10:15] jellegerbrandy opened #231 ""signup" text overlaps signin button"
![image](https://user-images.githubusercontent.com/1306173/32436269-c98b0b24-c2e3-11e7-81b5-57c015efa622.png)

[2017-11-06 10:19] jellegerbrandy opened #232 "if you have no wallet files at all, "new wallet" will fail with a "no anonymous keystore found""

[2017-11-06 10:32] #224 closed, assigned to nobody

[2017-11-06 10:33] #223 closed, assigned to nobody

[2017-11-06 12:58] pedrocasa commented on #164
Re-uploaded

[2017-11-06 13:05] pedrocasa commented on #169
Re-uploaded it

[2017-11-06 13:20] pedrocasa commented on #228
I designed it to work as a scroll page ( is an option where the elements do not get so tight )
If we do not want to use a scroll page the best option is to add next/prev buttons ( Options 3a and 3b sounds frustrating to me ). The only problem is that I'm gonna have to decrease all the thumbnails sizes and maybe remove some features on the Mini mode ( IE order by relevance M59 )

This is a very imp

[2017-11-06 13:25] pedrocasa commented on #228
- gonna make some tests as we discuss about it

[2017-11-06 13:52] jellegerbrandy opened #233 "write test for profile redirect"
there is a stub for the test in `tests/profile.test.js`:

[code]

[2017-11-06 13:53] jellegerbrandy opened #234 "Explain what's happening if a user arrives on a device with a keystore without being logged in"
There is a stub for a test in `tests/profile.test.js`:

[code]

[2017-11-06 14:45] #206 closed, assigned to nobody

[2017-11-06 15:40] #165 closed, assigned to geckoslair

[2017-11-06 15:40] #187 closed, assigned to geckoslair

[2017-11-06 16:02] felipegaucho commented on #228
Agree that scrolling is bad. I wouldn't be so bothered by having 6 results and then "go to paratii.video to see more". But next pages also seem reasonable if they don't place a burden on performance.

[2017-11-06 16:07] #213 closed, assigned to jellegerbrandy

[2017-11-06 16:08] #229 closed, assigned to nobody

[2017-11-06 16:09] jellegerbrandy commented on #150
It needs some styling, but some rudimentory text is there.

[2017-11-06 16:09] #150 closed, assigned to eliawk, geckoslair

[2017-11-06 16:11] #221 closed, assigned to nobody

[2017-11-06 16:12] #226 closed, assigned to geckoslair

[2017-11-06 16:14] geckoslair commented on #189
@jellegerbrandy this feature if it's just available if a video is not playing within a playlist, right?

[2017-11-06 16:26] jellegerbrandy commented on #189
yes

[2017-11-06 17:54] pedrocasa commented on #228
![search alternatives](https://user-images.githubusercontent.com/30123644/32455790-7f029f46-c30a-11e7-9354-ee281ebfa2b8.png)

[2017-11-06 17:55] pedrocasa commented on #228
![search alternatives](https://user-images.githubusercontent.com/30123644/32457489-739a849c-c310-11e7-926a-9bfeef205e99.png)

[2017-11-06 18:07] geckoslair commented on #227
@jrgarou i've closed main functionality, you are free to give your touch of magic =)

[2017-11-06 18:23] geckoslair opened #235 "Navbar in wrong z-index if player is in fullscreen mode."

[2017-11-06 18:51] pedrocasa commented on #209
Yeah, I've forgotten

I have already told ben on gitter
my mistake

[2017-11-06 18:53] pedrocasa commented on #209
![m27](https://user-images.githubusercontent.com/30123644/32458902-05ecad9e-c315-11e7-9f93-cd54bee293a9.png)

[2017-11-06 18:55] bent0b0x commented on #209
@pedrocasa looked at the re-uploaded design. Will work on implementing this week!

I did have another Q for you and @jellegerbrandy . I see in the designs of a few pages (including profile) a back button and a full-screen button (in the top-right). Is this a design pattern that will ultimately be on every page? If so, Jelle do you know if this has been implemented anywhere in the app yet and if it

[2017-11-06 18:57] pedrocasa commented on #231
we should follow  this guide https://github.com/Paratii-Video/paratii-player/issues/169

[2017-11-06 19:02] pedrocasa commented on #209
- "Is this a design pattern that will ultimately be on every page?"
Almost every page, but when a modal popup it'll be no available to any action

- "Also, is the full-screen supposed to simply take the whole iframe full-screen?"
 Yes

[2017-11-06 19:05] pedrocasa commented on #225
@jrgarou

[2017-11-06 19:14] pedrocasa commented on #227
Use the same lines as the forms

[2017-11-06 19:29] #235 closed, assigned to geckoslair

[2017-11-06 19:31] pedrocasa commented on #205
![capture](https://user-images.githubusercontent.com/30123644/32459966-5f25b34e-c318-11e7-8a08-206b89975595.JPG)

[2017-11-06 19:33] pedrocasa commented on #231
@jrgarou

[2017-11-06 19:43] pedrocasa commented on #196
The user can click on the channel and there we show all the entire playlist

[2017-11-06 20:38] geckoslair opened #236 "player should pass the tests on playerjs.io"
Developing related videos at video playback ended I've noticed that we need a hook/events-watcher approach. For example playing, pause, ended, replaying are not well centralized/binded and sometimes there is discordance between frontend and player states.

[2017-11-06 21:12] geckoslair opened #237 "we need a more generalistic routing rules set depending on user role"

[2017-11-06 21:13] geckoslair commented on #233
Temporarly close, we need a more generalistic routing rules set depending on user role (anon, logged, other?) #237

[2017-11-06 21:13] #233 closed, assigned to geckoslair

[2017-11-06 21:13] geckoslair commented on #237
derived from #233

[2017-11-06 22:36] geckoslair commented on #189
implement as publish in videos.js -> relatedVideos

it shows just if the video is played outside a playlist

[2017-11-06 23:21] geckoslair commented on #189
@jrgarou fill free to "make it pretty" =) merged on dev

[2017-11-06 23:26] geckoslair opened #238 "if video is white player controls are unintelligible"
maybe we can add a semitransparent gradient under player controls when video is playing

[2017-11-07 02:43] felipegaucho commented on #134
pending approval...

[2017-11-07 09:48] jellegerbrandy commented on #196
I think that the "next"/"skip" button should just go the the next item in the playlist. Always, also when the video is locked. Right?

[2017-11-07 10:02] eliawk commented on #232
create a new function to handle all the cases `mergeOrCreateNewWallet` on wallet.js

[2017-11-07 10:02] #232 closed, assigned to eliawk

[2017-11-07 13:22] geckoslair commented on #185
Hi @jrgarou ! about:

- [x] we have to remove whatsapp on no mobile device

Do you have some news? Can i help you?

[2017-11-07 13:31] geckoslair commented on #116
@pedrocasa @felipegaucho @jellegerbrandy
can we have a progress of this task? I've publish the documentation in the related repo:

https://github.com/Paratii-Video/paratii-embed

still missing something?

[2017-11-07 13:58] jrgarou commented on #225
@jellegerbrandy @pedrocasa done https://github.com/Paratii-Video/paratii-player/commit/52e330aea4b540414e10a5feae8283c50ed12052

[2017-11-07 14:02] felipegaucho commented on #154
1. Depends on design. I think the more elegant is to hide everything except for a main UI element (the navbar in the current state; might become just a small circle soon; on other future versions can be something else). Pretty much like slack (below), but can be much more minimal still.

2. No design yet, @pedrocasa is studying what some apps out there are doing and should have a proposal soon. Me

[2017-11-07 15:21] jrgarou commented on #185
@geckoslair Can we set a mobile detect class on `main-app`?
I can fix this with css, but we got a better control if we do like this.

[2017-11-07 19:21] pedrocasa commented on #196
I have a preference for the first one

![skip](https://user-images.githubusercontent.com/30123644/32513060-19dad472-c3e0-11e7-9980-33b30cb6f445.png)
@jellegerbrandy  @jrgarou  @felipegaucho

[2017-11-07 20:25] pedrocasa commented on #196
@jrgarou  did not find the last examples very appropriate in comparison with the rest of  the UI ( follow the rules already applied to the other buttons)

his suggestion

![capture](https://user-images.githubusercontent.com/30123644/32516005-04fd577e-c3e9-11e7-9e53-ac442e20c257.JPG)

[2017-11-07 21:18] pedrocasa opened #239 "Changes on M12 ( You May Also like)"

[2017-11-07 22:14] eliawk commented on #203
@ya7ya / @jellegerbrandy  is there any "videoIsReady" method, or something to check if there is enough data to start the streaming?

[2017-11-07 22:20] eliawk commented on #169
Now there is a system to show errors in the player and in modals. we just need to define which errors and some right copy

[2017-11-07 22:28] eliawk commented on #205
@jrgarou maybe you could just implement this with the new global alert!

[2017-11-07 23:49] geckoslair commented on #158
email is configured, but let's discuss on better solutions

[2017-11-07 23:49] #158 closed, assigned to jellegerbrandy, geckoslair

[2017-11-07 23:51] geckoslair commented on #201
there also the "share via email" text body to make it cooler!

[2017-11-08 00:00] jrgarou commented on #169
@jellegerbrandy @eliawk @geckoslair I pushed, to [frontend branch](https://github.com/paratii-Video/paratii-player/tree/frontend), the alert component that @eliawk, @pedrocasa and I developed.

- To call global alerts use the `import { globalAlert } from '/imports/lib/utils.js'`.
- To call alerts inside the modal use the `import { modalAlert } from '/imports/lib/utils.js'`.

### styles(@pedrocasa

[2017-11-08 00:09] geckoslair commented on #185
@jrgarou good idea! I create an issue.

[2017-11-08 00:13] geckoslair opened #240 "Surrounding environment sniffing lib"
As said weeks ago we need a central lib for recognize the user device.
The reasons are many: video fallbacks, ui fix, etc.

1. user agent regex matching OS -> http://detectmobilebrowsers.com/ ( controversial approach because has to be mantained and updated)
2. user agent "mobi" matching -> as suggested by https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent (per

[2017-11-08 00:14] geckoslair commented on #185
depending also on #240

[2017-11-08 12:39] #189 closed, assigned to jrgarou, geckoslair

[2017-11-08 13:45] geckoslair opened #242 "Remove all Mixed Content alerts"
in order to have "secure" badge in browser we have to remove all mixed content alerts in console

[2017-11-08 13:49] geckoslair opened #243 "Remove this annoing error"
### Description:

Exception in template helper: TypeError: Cannot read property 'remove' of null
    at a (https://staging.paratii.video/41fd5470489340defc65267e52ed0ba7074b1a4a.js?meteor_js_resource=true:256:129408)
    at Object.currentVideo (https://staging.paratii.video/41fd5470489340defc65267e52ed0ba7074b1a4a.js?meteor_js_resource=true:256:133340)
    at https://staging.paratii.video/41fd5470

[2017-11-08 13:57] jellegerbrandy commented on #231
Seems fixed to me

[2017-11-08 13:57] #231 closed, assigned to jrgarou

[2017-11-08 13:58] jellegerbrandy opened #244 "define a `showAlert` and `closeAlert` functions"
On the basis fo this: https://github.com/Paratii-Video/paratii-player/wiki/Code#warnings-and-alerts

[2017-11-08 14:06] jellegerbrandy commented on #230
The same for "show your seed".

[2017-11-08 14:06] #225 closed, assigned to nobody

[2017-11-08 14:09] jellegerbrandy commented on #169
Ok, very cool. I moved these last remarks to the wiki, it seems to be a great start fo documenting our work a bit: https://github.com/Paratii-Video/paratii-player/wiki/Code

I am closing this issue in favor of more generic issue such as #244

[2017-11-08 14:09] #169 closed, assigned to jrgarou, eliawk, geckoslair

[2017-11-08 14:19] geckoslair opened #245 "Email gives error at server startup"
I see some errors both on staging and production, on startup: (node:3494) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'mail_server' of undefined (node:3494) DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exi

[2017-11-08 14:33] jellegerbrandy opened #246 "remove links to "pravatar.cc""
instead, have some placeholder images locally

[2017-11-08 14:34] jellegerbrandy commented on #242
first fix #246

[2017-11-08 15:38] jellegerbrandy commented on #156
and caching, of course

[2017-11-08 15:58] jellegerbrandy opened #247 "refactor 'likeVideo'"
What needs to be done is this:

- deploy new contracts for videos to blockchain
- rewrite client code so that likes are registered on the blockchain
- subscribe to releveant events server-side to update mongo

There is another issue: "anonymous likes". We will need to register those likes as well.

[2017-11-08 16:15] eliawk commented on #220
[code]

[2017-11-08 17:23] #202 closed, assigned to jellegerbrandy

[2017-11-08 17:24] #182 closed, assigned to nobody

[2017-11-08 17:26] #245 closed, assigned to nobody

[2017-11-08 18:21] pedrocasa commented on #239
As Jelle Said on the #162 the 3 dots on the thumbs  ( options ) are superfluous
If you see the flow I changed the 3 dots button for a watch later button ( to keep a experience like youtube )

[2017-11-08 18:21] pedrocasa commented on #239
As Jelle Said on the #162 the 3 dots on the thumbs  ( options ) are superfluous
If you see the flow I changed the 3 dots button for a watch later button ( to keep a experience like youtube )

[2017-11-08 18:21] pedrocasa commented on #239
As Jelle Said on the #162 the 3 dots on the thumbs  ( options ) are superfluous
If you see the flow I changed the 3 dots button for a watch later button ( to keep an experience like youtube )

[2017-11-08 18:21] pedrocasa commented on #239
As Jelle Said on the #162 the 3 dots on the thumbs  ( options ) are superfluous
If you see the flow I changed the 3 dots button for a watch later button ( to keep an experience like youtube )

[2017-11-08 18:21] pedrocasa commented on #239
As Jelle Said on the #162 the 3 dots on the thumbs  ( options ) are superfluous
If you see the flow I changed the 3 dots button for a watch later button ( to keep an experience like youtube )

[2017-11-08 18:32] #246 closed, assigned to nobody

[2017-11-08 18:40] #243 closed, assigned to geckoslair

[2017-11-08 18:44] geckoslair commented on #203
think that #236 is rising in priority

[2017-11-08 19:11] #238 closed, assigned to jrgarou, pedrocasa

[2017-11-08 19:11] geckoslair commented on #239
ref to #216

[2017-11-08 19:15] geckoslair commented on #228
@pedrocasa I vote for 2

[2017-11-08 19:38] geckoslair commented on #159
hi guys =) we need this functionality ?
reset the password is very similar to create a new account.

[2017-11-08 19:49] jrgarou commented on #240
Set stats classes on the `.main-app` will be really handfull.
Something like that:

`<div id="player-fullscreen-container" class="main-app playlists in-embed in-fullscreen is-mobile is-android">`

Maybe some global status for JS. Getting the informations once, saving its and update when it need. Something like this:
[code]

[2017-11-08 19:58] geckoslair commented on #240
@jrgarou yes i was thinking something like that, great!
i'll try to expose some basic functions to share with you, as:

- Sniffer.getUserParamsClasses() -> return a list of classes
- Sniffer.getUserParamsObject() -> return a js object

[2017-11-08 22:29] jrgarou commented on #228
@pedrocasa I vote for 2

[2017-11-09 10:41] jellegerbrandy commented on #228
me too 2

[2017-11-09 10:42] jellegerbrandy commented on #240
is there not some lib on npm that we can use, instead of inventing our own?

[2017-11-09 10:53] ya7ya commented on #240
@jellegerbrandy Yes there are a few libraries. here is a couple we can try
https://www.npmjs.com/package/mobile-detect
https://www.npmjs.com/package/sniffr

[2017-11-09 11:23] jellegerbrandy opened #248 "Password handling & Authentication"
# Password handling on multiple devices

At present, the password is playing a double role now:
- it is used to encrypt the keystore
- it is used by meteor authentication

This presents all kind of complications if the user has two keystores on two different devices for the same account. For example, resetting the password on one device will, of course, not reset the password of the keystore on th

[2017-11-09 11:26] jellegerbrandy commented on #159
closing this while waiting for a resolution of #248

[2017-11-09 11:28] jellegerbrandy commented on #130
Please see https://github.com/Paratii-Video/paratii-player/issues/248 for an alternative solution. Closing this for now.

[2017-11-09 11:28] #130 closed, assigned to nobody

[2017-11-09 11:32] #159 closed, assigned to eliawk, jellegerbrandy, geckoslair, felipegaucho, pedrocasa

[2017-11-09 11:33] jellegerbrandy commented on #167
Please see #248

[2017-11-09 11:36] jellegerbrandy commented on #105
We have transparent anonymous usage now.
Although much of the comments here are still relevant, i am closing this issue in favor of the more updated #248

[2017-11-09 11:36] #105 closed, assigned to eliawk

[2017-11-09 11:41] jellegerbrandy commented on #236
Yes, we do.

Let us implement the player.js specs : https://github.com/embedly/player.js/blob/master/SPEC.rst
This seems somethign relatively easy to do using **adapters** https://github.com/embedly/player.js#adapters

We need to do this anyway for #178 .

[2017-11-09 11:59] #234 closed, assigned to eliawk

[2017-11-09 11:59] #205 closed, assigned to jrgarou, eliawk, pedrocasa

[2017-11-09 13:54] eliawk commented on #220
i think we could be fixed in  #236

[2017-11-09 14:43] jrgarou commented on #196
It's done, guys @pedrocasa @jellegerbrandy
https://github.com/Paratii-Video/paratii-player/commit/e7ccc46f7188f6f094b912e9526873921db30932

[2017-11-09 15:49] geckoslair commented on #236
Hi player.refactor dream team!
This issue in composed by three subissues:

- [ ] make player,js and player.html driven by video tag states/events ( video tag wiil be our source of truth) @eliawk
- [x] make all the library that's interact with the video tag binded to the video tag and not to meteor instace @ya7ya
- [ ] make a library that binds player.js (the library required by embedly) with our v

[2017-11-09 16:05] geckoslair commented on #236
a possibile flow could be:

var player = new Paratiiplayer();
yahyamagicfunctions(player)
playerJSadapter(player)

[2017-11-09 16:15] #230 closed, assigned to jrgarou, eliawk

[2017-11-09 16:30] geckoslair commented on #236
ref  #175

[2017-11-09 23:36] geckoslair commented on #236
using gateway:
http://playerjs.io/test.html?url=https%3A%2F%2Fstaging.paratii.video%2Fplay%2F6%3Fplaylist%3D2
- success on desktop
- fails on mobile

without gateway:
http://playerjs.io/test.html?url=https%3A%2F%2Fstaging.paratii.video%2Fplay%2F8%3Fplaylist%3D4
- fails

[2017-11-10 01:41] bent0b0x opened #250 "Add Tests for new profile functionality (and polish UI)"
#241 implements some new functionality in the the profile page, in addition to temporarily disabling some pieces (in accordance with #164).

- New tests need to be written for this new functionality, specifically regarding the new modals for changing your password or editing your avatar/username/email address.
- the profile page should match the grid alignment shown below. It is close now but ther

[2017-11-10 09:28] jellegerbrandy commented on #250
Just copying this code comment of @bent0b0x to remind us that also this needs to be tested:

[2017-11-10 10:32] jellegerbrandy commented on #244
This issue also includes refactoring of existing code

[2017-11-10 10:35] jellegerbrandy opened #251 "Add email validation on "edit Profile""
These "xxx" email is accepted:

![image](https://user-images.githubusercontent.com/1306173/32654354-313e1872-c60b-11e7-9e29-34f83c8d3ea2.png)

[2017-11-10 10:53] eliawk commented on #244
@jellegerbrandy my proposal is to create 2 components: one for modalAlert and one to manage the globalAlert (now they are the same component, passing options to them)

[2017-11-10 13:05] #227 closed, assigned to jrgarou, geckoslair

[2017-11-10 13:36] jellegerbrandy commented on #209
:heart:

[2017-11-10 13:36] #209 closed, assigned to pedrocasa

[2017-11-10 13:37] #200 closed, assigned to jrgarou

[2017-11-10 13:40] jellegerbrandy commented on #244
also this: https://github.com/Paratii-Video/paratii-player/commit/379dffc5e162be3e7bdb4494adffa5f0ad997a42

[2017-11-10 13:47] jellegerbrandy opened #252 "server-side error when testing search"
when running the tests, the server console logs errors like these:

[code]

[2017-11-10 14:11] #196 closed, assigned to jrgarou, jellegerbrandy, pedrocasa

[2017-11-10 15:25] bent0b0x commented on #250
![image](https://user-images.githubusercontent.com/7697924/32665161-6817c8a2-c601-11e7-8f17-47eaa5a359d7.png)

![image](https://user-images.githubusercontent.com/7697924/32665167-6c7972c4-c601-11e7-9787-0f6022739646.png)

[2017-11-10 22:15] bent0b0x opened #253 "Player buttons are wrong color"
Expected:

![image](https://user-images.githubusercontent.com/7697924/32680819-88bbdb32-c63a-11e7-96b8-127564f9d7a5.png)

Actual:

![image](https://user-images.githubusercontent.com/7697924/32680871-babc8f64-c63a-11e7-903b-b339e63c5958.png)

Caused by:
https://github.com/Paratii-Video/paratii-player/commit/125aa9c417a6674408e52005f81e4c3887a9d57b#commitcomment-25541161

[2017-11-13 09:30] jellegerbrandy commented on #216
Closing this for now as it is not really specified how this would work

[2017-11-13 09:30] #216 closed, assigned to nobody

[2017-11-13 09:36] jellegerbrandy commented on #192
So, videos will be registered on the blockchain - and we know, in any case, the blocknumber (which gives us a rough range) + the nonce of the transaction the block (i.e. if two vids were uploaded in the same block, we know who came first)

Given that the time is not really precise (and also given the fact taht it is not so important to have "full" precision here) I'd say:

- upload time  (and edit

[2017-11-13 09:40] jellegerbrandy commented on #181
we already save the ETH account in meteor, in `profile.ptiAddress`.

At the moment, we save extrea user data in 'profile.ptiAddress' in the users collection - which is the collection defined by meteor to manage users.

I proposse to do some refactoring and keeping the meteor-specific things separate from the paratii things, and define a new collection (perhaps call it `accounts`), whose `id` is th

[2017-11-13 09:41] jellegerbrandy commented on #192
changing the title :-)

[2017-11-13 09:43] #194 closed, assigned to nobody

[2017-11-13 09:46] #204 closed, assigned to nobody

[2017-11-13 09:51] jellegerbrandy opened #256 "Lightest grey is too light"
On my screen, with my eyes, the light grey text ("don't have an account?") are near to illegible..

![image](https://user-images.githubusercontent.com/1306173/32719389-812512ee-c860-11e7-9a9a-90f5889bb531.png)

[2017-11-13 09:59] jellegerbrandy opened #257 "Texts and Terminology"
## Choices
We need a consistent usage of terms throughout the app:

| Used Now  | My Choice |
| ------------- | ------------- |
| "Sign up" , "Register" | "register"|
| "Sign in" , "Log in" | Log in |
| keystore, wallet | wallet |

[2017-11-13 10:01] jellegerbrandy opened #258 "Order of texts is confusing on register modal"
![image](https://user-images.githubusercontent.com/1306173/32719492-dd033212-c860-11e7-8e37-efe4971fd386.png)

I think the text "If you already have an account sign in" should become _below_ the sign up button (or at the top of the form), not in the middel fo the form (the input and submit fields should preferably be "together", not interrupted with links going elsewhere)

[2017-11-13 10:10] jellegerbrandy commented on #166
The Sign up process should work like this:

* Fill in sign up form M45
* Show the user's ETH account (M48, but without the seed)
* Show the seed (M49). But not as a warning in red, please.
* Ask for confirmation fo the seed (M88)

Some remarks:
* M48, M49 and M88 are blocking.
* We will review the copy in a separate issue

[2017-11-13 10:22] jellegerbrandy opened #259 "Edit password should change the password of the keystore"
The following is a bug in `editPassword.js`.

We must hook up here the "change the password and regenerate the keystore" logic that is in `wallet.js`.

[code]

[2017-11-13 10:23] jellegerbrandy commented on #259
assigned this to @eliawk (but @bent0b0x  should be aware of this as well)

[2017-11-13 10:33] #253 closed, assigned to nobody

[2017-11-13 10:40] jellegerbrandy commented on #164
@pedrocasa : what is missing is also:

* show the keyphrase
* restore your wallet (with a existing keyphrase)

I think they can be two new options hidden behind the gears icon - what do you think?

[2017-11-13 11:09] jellegerbrandy commented on #60
We have an alert system now

[2017-11-13 11:09] #60 closed, assigned to nobody

[2017-11-13 11:11] jellegerbrandy commented on #45
closing because old

[2017-11-13 11:11] #45 closed, assigned to nobody

[2017-11-13 11:17] jellegerbrandy commented on #237
Do we? What are the roles that we are using now?

[2017-11-13 11:21] jellegerbrandy opened #260 "Implement paging in lists of video's and playlists"
Following the design of screen number (2) in #228

[2017-11-13 11:21] jellegerbrandy commented on #228
So (2) it is. Opened a new issue for it: #260

[2017-11-13 11:21] #228 closed, assigned to pedrocasa

[2017-11-13 11:24] jellegerbrandy commented on #73
Closing - we will do paging. See #260

[2017-11-13 11:24] #73 closed, assigned to geckoslair

[2017-11-13 11:46] eliawk commented on #244
now there is a `showModalAlert` - `hideModalAlert` and `showGlobalAlert` - `hideGlobalAlert`

[2017-11-13 11:46] #244 closed, assigned to eliawk

[2017-11-13 14:15] bent0b0x commented on #251
Also on this note, are there plans to require users to confirm their email address? Otherwise what mechanism do we have against users signing up w/ someone else's email, or a fake email (if this is something we need to care about)?

[2017-11-13 14:28] jellegerbrandy commented on #251
We've been discussing informally about email handling and confirmation. At the moment, the plan is that at the moment of inscription, we only check formal correctness (i.e. it must be a valid email address).

We will then ask users to confirm their email address in exchange for  a gift of PTI.

Issue #248 is relevant here, but I should really write a separate issue documenting this.

[2017-11-13 17:20] jellegerbrandy opened #261 "Write Use Cases for the uploader tool"
We need to ciscover what we expect that users can do with our upload tool before we can actually implement it :-)

Type of experience we are thinking of "K.im demo" and "Giphy uploader"

Possible use cases we coudl write:

- Casual user Maria uploads a single movie from his phone
- Youtuber Toddy migrates his YT channel to paratii
- Publisher nytimes publishes 20 videos daily in different channels

[2017-11-13 21:21] eliawk commented on #259
@jelle change the password and regenerate the keystore, it means if you login on an older device you can't open the old **keystore** (encrypted with the old password). so the "change password" maybe needs also a button to **regenerate** (remove + create new) keystore.

[2017-11-14 01:27] felipegaucho commented on #261
- **1. Casual user Maria uploads a single movie from her phone.**
Trigger: sees an ad somewhere, or gets a direct recommendation, and wants an easy way to try Paratii.
Basic Flow: navigates to uploading URL, finds her way, fetches file from her phone media library, uploads it on a shitty connection, takes some time (here we can present useful info as text too @jellegerbrandy) to finish this, gets

[2017-11-14 02:03] felipegaucho commented on #166
See a nice alternative, refined way of asking for confirmation for the seed: https://youtu.be/k42YNyvG8CU?t=2h22m5s

[2017-11-14 09:19] eliawk opened #263 "Change the layout of restoreKeystore modal"
The **restoreKeystore** is the only modal with buttons and looks a little bit broken

<img width="373" alt="schermata 2017-11-14 alle 10 17 53" src="https://user-images.githubusercontent.com/362016/32772107-20a40310-c925-11e7-9509-f6e00a909cbf.png">

[2017-11-14 12:37] pedrocasa commented on #261
gonna try my first one...

( in different point o view of cases from above)

9. Mike heard from his friends that his favourite youtube channel migrated to paratii and wants to see it in the new platform but couldn't find the link for it

Trigger: Heard about an amazing channel but does not know how to find it

steps

- Go to Paratii URL and uses discovery/search feature to search for the name of y

[2017-11-14 13:00] jellegerbrandy commented on #261
Exactly.

These should probably two use cases (find a channel, and another: subscribe to a channel), and it j needs more precision (go to paratii url, click on "discover", search for "John
Smith" (= the name of your friend), see the result page (which as 24 results, among which videos created by yr friend, etc), click on the "channel" link, go the page channel page.

And another one for the subscr

[2017-11-14 13:14] jellegerbrandy commented on #236
Any updates on this? Especially regarding "make player,js and player.html driven by video tag states/events ( video tag wiil be our source of truth) @eliawk"?

[2017-11-14 13:19] jellegerbrandy commented on #181
Directly related to #248

[2017-11-14 13:19] jellegerbrandy commented on #140
cf also https://github.com/Paratii-Video/paratii-player/issues/248

[2017-11-14 13:23] jellegerbrandy commented on #259
Yes, we need the functionality to regenerate the keystore. But that is probably somethign that should happen on the "insert yr password here" screens, after "forgot password".

We need some use cases, here, I think.

I want to move, eventually, to the situation described in https://github.com/Paratii-Video/paratii-player/issues/248 - which also is relevant here.

[2017-11-14 13:27] geckoslair commented on #236
Actually i've done a fast refactor in order to fix binding issues. There's still some work to do.

[2017-11-14 13:27] pedrocasa commented on #261
Sure Thing, I uploaded here because I was not 100% secure about the information that I writed

[2017-11-14 13:47] geckoslair commented on #242
will be close automatically when real avatar will be provided

[2017-11-14 13:47] #242 closed, assigned to geckoslair

[2017-11-14 13:47] jellegerbrandy opened #264 "Code refactoring"
* Move code that itneracts with the contracts to the paratii-contracts repository (and isntall that as a package)
* Move the "database syncronization" code to a separate package
* Try to decouple/isolate specific meteor functions as much as possible (with the view of eventually migrating away from meteor)

[2017-11-14 13:49] geckoslair commented on #201
waiting for copy! @felipegaucho

[2017-11-14 15:14] jellegerbrandy commented on #257
The first thing to do is run through the app and post all the copy here:

![image](https://user-images.githubusercontent.com/1306173/32787315-8c01c814-c956-11e7-9c78-b254f0ff524c.png)

![image](https://user-images.githubusercontent.com/1306173/32787353-9e879388-c956-11e7-8927-13ab10043df0.png)

[2017-11-14 15:14] eliawk commented on #250
On the profile page if you are logged in and you don't have a keystore when you close the modal you see this now

<img width="1425" alt="schermata 2017-11-14 alle 16 13 21" src="https://user-images.githubusercontent.com/362016/32787495-f1cb733e-c956-11e7-89ae-3b3cbad91317.png">

[2017-11-14 16:32] geckoslair commented on #240
@jrgarou hi man!
i've pushed on dev the new helper. Now i'm adding to the body class the following classes:

  this.classes += (this.isMobile()) ? 'mobile ' : ''
  this.classes += (this.isPhone()) ? 'phone ' : ''
  this.classes += (this.isTablet()) ? 'tablet ' : ''

You can play with them as you prefer, if no class is provided so is desktop. Let me now.

[2017-11-14 16:33] geckoslair commented on #185
@jrgarou hi man!
i've pushed on dev the new helper. Now i'm adding to the body class the following classes:

  this.classes += (this.isMobile()) ? 'mobile ' : ''
  this.classes += (this.isPhone()) ? 'phone ' : ''
  this.classes += (this.isTablet()) ? 'tablet ' : ''

You can play with them as you prefer, if no class is provided so is desktop. Let me now.

[2017-11-14 17:33] jrgarou commented on #263
@geckoslair Done https://github.com/Paratii-Video/paratii-player/commit/be85ba17d3f29db5e8f71787e7141fcc1245407f

[2017-11-14 18:25] pedrocasa commented on #166
@jellegerbrandy  " ... a nice thing to do and with which to earn some PTI, not an obligation.
Ie. we should go from M46 to M48. The email confirmation is a separate flow, initiated by the email link."

Is the email confirmation a good thing for us?

[2017-11-14 18:53] jellegerbrandy commented on #166
what do you mean by "a good thing for us"?

[2017-11-15 02:09] bent0b0x commented on #250
@pedrocasa I don't think this case (screenshot above :point_up:) was accounted for in the profile redesign. Is this simply a feature/view we are disabling for now? If the user does not have a keystore when they log in, what should we show?

[2017-11-15 08:15] #259 closed, assigned to eliawk

[2017-11-15 09:46] eliawk opened #267 "Not use Modal.show for edit-profile"
To open the menu `#edit-profile` use a custom template, and not the Modal.show

[code]

[2017-11-15 10:27] #263 closed, assigned to jrgarou, pedrocasa

[2017-11-15 15:16] jellegerbrandy opened #268 "include a version number"
We should show a version number in the player, perhaps on the debug page - we could use the hash of the deployed version
So at least we know which build we are debugging against

[2017-11-15 15:43] jellegerbrandy commented on #195
sudo npm install -g n
    sudo n latest

[2017-11-15 16:08] #195 closed, assigned to nobody

[2017-11-15 16:46] jellegerbrandy commented on #250
If the user does not have a keystore when they login, they see a dialog screen where they get the choice of either restoring the keystore (with their keyphrase) or create a new keystore. This modal should be blocking (and perhaps is already so) - so the situation should simply not occur.

[2017-11-15 16:56] jellegerbrandy commented on #145
Ok, this is working, but the process is not smooth yet.

At the moment, the procedure requires two different actions:

- register tsome basic info about the vids in the videoRegistry on the blockchain (code is in `api` branch on `paratii-contracts` and in a terrible terrible state)
- add rest of video info + playlists directly in mongodb (--> code is in devops repo)

[2017-11-15 16:56] #145 closed, assigned to ya7ya, jellegerbrandy, felipegaucho

[2017-11-15 17:36] jellegerbrandy commented on #261
Okay, i moved some of these first scenarios here: https://github.com/Paratii-Video/paratii-usecases/issues
Closing this, let's continue in the new repo

[2017-11-15 17:36] #261 closed, assigned to bent0b0x, felipegaucho, pedrocasa

[2017-11-16 00:49] bent0b0x commented on #267
Hey @eliawk, could you elaborate a bit more as to what the best practices are for modals? i.e. when is it okay to use `Modal.show/showModal` vs. a custom template and why? The implementation I had previously did seem to be working, except on CircleCI tests. Just want to get a better understanding as to why the change is indeed necessary.

FYI I addressed the issue in [this commit](https://github.c

[2017-11-16 01:00] bent0b0x commented on #250
I assume you are talking about this modal?

![image](https://user-images.githubusercontent.com/7697924/32868271-6082c73a-ca3f-11e7-85e2-3ac72ec2aaf0.png)

Currently, this modal displays after the user has successfully logged in. However, the user can dismiss it. Do we want to make this modal non-dismissible? Also, as you maybe can see from the screens, there seem to be some issues with the renderi

[2017-11-16 04:34] bent0b0x commented on #156
Do we need the [`meteor list`](https://github.com/Paratii-Video/paratii-player/blob/master/circle.yml#L11-L12) command to be run on `circleCI`?

I see via the comment in `circle.yml` that this will download and install new versions of dependencies if we are not 100% up to date, but is that what we want (or I can't tell if that comment is referring to `npm install`)? I have seen this cause unintend

[2017-11-16 09:42] jellegerbrandy commented on #156
trying it out: https://circleci.com/gh/Paratii-Video/paratii-player/tree/fix_ci

the version fo meteor packages are  pinned (in .meteor/versions, i think) and we are using yarn to install other dependencies (which has its yarn.lock file). So with yarn, we should be ok forr the 3rd party dependencie, I am not sure about the 3rd party dependencies of the meteor packages

[2017-11-16 09:47] jellegerbrandy commented on #250
+1 for making it blocking.

Not sure what we should show on the profile page here (i.e. in the background of the modal) - it could even be a blank page...

[2017-11-16 09:55] jellegerbrandy commented on #267
closing this as the issue is resolved, but if @eliawk wants to explain he is mroe than welcome :-)

[2017-11-16 09:55] #267 closed, assigned to bent0b0x

[2017-11-16 09:57] jellegerbrandy commented on #240
@geckoslair , can i close this issue?

[2017-11-16 10:00] jellegerbrandy commented on #180
what's the status of this? I see we have nice thumbs in the demo.

[2017-11-16 10:08] jellegerbrandy opened #270 "Try ganache as a substitute for testrpc"
It looks cool but perhaps still somehwat immature: https://github.com/trufflesuite/ganache

[2017-11-16 10:25] jellegerbrandy commented on #156
ok, that worked :-)

[2017-11-16 13:19] pedrocasa commented on #256
@jrgarou

-Light Gray changed for ##B3B3B3

[2017-11-16 13:22] jellegerbrandy commented on #257
We will use the meteor package `tap:i18n`, so that we can keep our strings in a separate file, and it will be easier later to do something with differet languages... deveopment in `i18n` branch

[2017-11-16 13:59] pedrocasa commented on #258
There's no reason to show "if you already have account" sentence. This modal is only available after the player shows the Sign in/Sign up options ( we don't need to ask it again )

[2017-11-16 14:57] jellegerbrandy commented on #257
https://github.com/Paratii-Video/paratii-player/wiki/Texts-and-translations

[2017-11-16 16:54] jellegerbrandy commented on #156
Now I remember the reason of the `meteor list`. It splits up the installation of the packages from the following `meteor test` command (although it does it in a bit of a messy way). We have new time-out errors on the `meteor test` now, so I'm putting te `meteor list` back

[2017-11-16 18:13] pedrocasa commented on #258
There's no reason to show "if you already have account" sentence. This modal is only available after the player shows the Sign in/Sign up options ( we don't need to ask it again )

[2017-11-17 03:56] bent0b0x opened #273 "Form placeholder text color is too dark"
The placeholder text for sign in/sign up/edit profile is the incorrect color. It is the same color as the actual text the user types, which is confusing.

![image](https://user-images.githubusercontent.com/7697924/32928679-3560ea22-cb21-11e7-8a53-af330819fa74.png)

The actual color should be `@color-light-grey`

[2017-11-17 03:59] pedrocasa commented on #273
We should use the light grey for the description and the darker grey for the typed form

@jrgarou

[2017-11-17 05:48] bent0b0x commented on #273
@pedrocasa

Here is an example with the dark gray for the typed text ("Ben Baum") and the light gray for the placeholder ("fffffobar@gmail.com")

![image](https://user-images.githubusercontent.com/7697924/32931177-c8aaba56-cb30-11e7-8631-71769a398b38.png)

In my opinion, the difference is still too subtle, at least for this use case. Looks like the light grey color was recently updated to be darke

[2017-11-17 09:45] jellegerbrandy opened #276 "Restore keystore modal needs layouting"
[moved thsi comment from @bent0b0x from #250 to a new issue:]

![image](https://user-images.githubusercontent.com/7697924/32868271-6082c73a-ca3f-11e7-85e2-3ac72ec2aaf0.png)

Currently, this modal displays after the user has successfully logged in. However, the user can dismiss it. Do we want to make this modal non-dismissible? Also, as you maybe can see from the screens, there seem to be some issu

[2017-11-17 09:46] jellegerbrandy commented on #276
+1 for making it blocking.

the background here (i.e. the "restore wallet" stuff on the actual profiel page behind the modal) can be simply removed (we can show a blank page)

[2017-11-17 09:47] jellegerbrandy commented on #250
Closing this generic issue (it seems to me many tests are there,b ut feel free to reopon, @bent0b0x ) - opened a new issue for the restorekystore modal #276

[2017-11-17 09:47] #250 closed, assigned to bent0b0x

[2017-11-17 10:08] jellegerbrandy commented on #251
thanks!

[2017-11-17 10:08] #251 closed, assigned to bent0b0x

[2017-11-17 10:09] #256 closed, assigned to jrgarou

[2017-11-17 10:11] geckoslair opened #278 "Found a user Keystore"
keep the user's choice without re-opening the modal

[2017-11-17 10:12] geckoslair commented on #240
added isEmbedded support and closed

[2017-11-17 10:12] #240 closed, assigned to geckoslair

[2017-11-17 10:31] geckoslair opened #279 "Generatekey error running paratii player in playerJS tests helper"
### Description:

Player doesn't work in playerJS tests helper

#### Steps to Reproduce:

go there:

http://playerjs.io/test.html?url=http%3A%2F%2Flocalhost%3A3000%2Fplay%2FQmNhyQjsFW2Tvuz7CFwDTBPo3dfBQ3S4StEpfUZPSpK9FY%3Fplaylist%3D2

and open devtools

#### Actual result:
Player doesn't work

Uncaught TypeError: Cannot read property 'generateKey' of undefined
    at Object.exports.generateKey (e

[2017-11-17 10:48] jellegerbrandy opened #280 "Upload tool: first iteration specs"
Go here: https://github.com/Paratii-Video/paratii-site/wiki/Specs#uploader

[2017-11-17 11:10] jellegerbrandy opened #282 "Limit the amount of tags/keywords to be shown on the player"
We can just show 3 keywords (or even not show them at all, given that they are not working yet)

![image](https://user-images.githubusercontent.com/1306173/32944556-3c8432cc-cb90-11e7-9033-79925d95a3ec.png)

[2017-11-17 11:23] #207 closed, assigned to eliawk

[2017-11-17 11:27] eliawk commented on #258
This is done with Metor.Accounts and i think we can't disable using the config, so maybe we could juts hide it using css:
[code]

[2017-11-17 11:30] pedrocasa commented on #273
the grey colours has no contrast on the Roboto light font as the player needs

- Changing the dark grey for a darker colour will make the whole player visually heavier
- Changing the light grey for a lighter colour will make the forms hard to read

we have two options
Or we can change the font weight to medium when the user is writing ( still same colour )  ... or we can create a new darker colour

[2017-11-17 11:33] pedrocasa commented on #273
@jrgarou  tell me what u think about it

[2017-11-17 12:57] jrgarou commented on #273
Hey @bent0b0x, good point. This need to be fixed.
All styles from our forms elements is in here: https://github.com/Paratii-Video/paratii-player/blob/frontend/imports/ui/stylesheets/components/forms/main.less

We can fix this here https://github.com/Paratii-Video/paratii-player/blob/frontend/imports/ui/stylesheets/components/forms/main.less#L72-L128

Could you take this for me?

[2017-11-17 13:08] #252 closed, assigned to geckoslair

[2017-11-17 13:20] pedrocasa opened #284 "Thumbnails"
Me and Junior are working on some changes on the thumbnails ... There will be no more "boxes-under pictures titles " just a title above the picture and an overlay layer.

![001](https://user-images.githubusercontent.com/30123644/32949228-38898bd8-cb89-11e7-9615-6007e99ca5f0.png)

We found a small problem, the images that are automatically created for the thumbnails all have black horizontal lines

[2017-11-17 13:32] jellegerbrandy commented on #284
@ya7ya

[2017-11-17 13:34] ya7ya commented on #284
@jellegerbrandy  Regarding the Thumbnails, the youtube videos thumbs are made by youtube. I'll check to make sure it generates in a better aspect ratio.

Whats the optimum required screenshot aspect ratio ?? @pedrocasa

[2017-11-17 13:37] eliawk commented on #284
@pedrocasa @jrgarou if you use image as backgroun image instaed of `<img>` tag? so you could manage the aspect ratio a little bit more easily using the padding-top trick..could be?

[2017-11-17 13:45] pedrocasa commented on #166
Just wanted to know why the user should confirm his email if it's not necessary to create an account.

( ok, he earns the PTI  but would he have any advantage besides that? )

[2017-11-17 13:48] geckoslair commented on #237
anon and logged. I've create a group route rule in route.js, so now we can refactor #233

[2017-11-17 13:54] geckoslair commented on #282
maybe we can group after N tags like:
tag1, tag2, tag3, [button] see more tags [/button]

[2017-11-17 14:00] pedrocasa commented on #284
@ya7ya  I think 5x3 is fine

[2017-11-17 14:08] jellegerbrandy commented on #258
Ok, letś do that

[2017-11-17 14:09] jellegerbrandy commented on #220
given that #236 has progressed, is there a new status on this @eliawk ?

[2017-11-17 15:35] eliawk commented on #236
for the records http://clappr.io/

[2017-11-17 20:10] jellegerbrandy commented on #282
i say we just show the first 4 tags and that's it (we can use the rest for search)
or even not show them at all - we can surely use the real estate - what do you say @pedrocasa ?

[2017-11-17 20:17] jellegerbrandy commented on #166
So he can recieve notification from paratii. (Or spam from us :-))

[2017-11-18 15:01] geckoslair opened #285 "Back button wrong behaviour"
### Description:
back button should no trigger a history back.

`
Template.backButton.events({
  'click #back-button' () {
    window.history.back()
  }
})
`

#### Steps to Reproduce:

1. go to google
2. then go http://localhost:3000/playlists/2
3. then press on play list back button
4. user return to google

#### Expected result:

return to playlists list

[2017-11-18 15:10] jellegerbrandy commented on #285
I propose to **remove the back button**
Because (1) it is not clear at all that it _is_  a back button (if I wanted to "go back", I would not think of clicking on the "<" next to the title) and (more importantly) (2) I don't understand in which case this is something that a user wants/needs/expects.
@pedrocasa , what do you think?

[2017-11-18 15:11] #185 closed, assigned to jrgarou

[2017-11-18 20:04] bent0b0x opened #286 ""Found user keystore" modal renders html"
`<br>` needs to be removed from modal and substituted with a real newline/break

![image](https://user-images.githubusercontent.com/7697924/32984298-ca39b3b2-cc71-11e7-87cc-224d354d35ab.png)

[2017-11-18 20:20] bent0b0x opened #287 "Settings gear button on playlist page is non-functional"
On the page for an individual playlist, the settings icon appears in the header but it is non-functional.

![settingsclick](https://user-images.githubusercontent.com/7697924/32984374-89c1d6dc-cc73-11e7-9988-383a6458886e.gif)

It should either be removed or assigned a particular purpose.

[2017-11-19 14:59] felipegaucho commented on #201
Correct me where the contexts are wrong:

- Facebook: no custom copy.
- **Twitter**: 🎬 Worth a watch: *title*
_(à lá what [Revue does](https://twitter.com/ParatiiVideo/status/902980684473622529) when you share a newsletter of theirs)_
- **WhatsApp**: no custom copy (**_can we @geckoslair ? I have never seen_**).
- **Telegram**: no custom copy (**_can we @geckoslair ? I have never seen. What I usua

[2017-11-19 15:44] #285 closed, assigned to bent0b0x

[2017-11-20 10:57] jellegerbrandy commented on #279
depends on #236

[2017-11-20 11:02] jellegerbrandy commented on #66
closing in favor of separate actionabile issues.

[2017-11-20 11:02] #66 closed, assigned to eliawk, jellegerbrandy, geckoslair

[2017-11-20 11:09] eliawk commented on #27
@jellegerbrandy could you close this one?

[2017-11-20 11:10] eliawk commented on #175
@jellegerbrandy i'll close also this one

[2017-11-20 11:11] jellegerbrandy opened #289 "restore disabled wallet functionalities"
We already have  working modals, and design, for modals to "show the seed" and "send ether" etc.

These are the following modals:

- show Seed
- restore keystore
- send PTI
- send ETH

What needs to be done is:

* un-`skip` the relevant tests in `tests/player.test.js` and `tests/profile.test.js`
* (possibly write more tests for error handling)
* add the relevant buttons on `wallet.html` - as desig

[2017-11-20 11:48] jellegerbrandy commented on #175
I'm leaving it open, as it needs to be done anyway, even if it does depend on #236... assigning it to @geckoslair

[2017-11-20 11:48] jellegerbrandy commented on #175
I'm leaving it open, as it needs to be done anyway, even if it does depend on #236... assigning it to @geckoslair

[2017-11-20 11:49] jellegerbrandy commented on #27
closing because obsolete

[2017-11-20 11:49] #27 closed, assigned to eliawk, mrocha94

[2017-11-20 12:20] eliawk commented on #276
@jellegerbrandy the modal has now a new layout

<img width="350" alt="schermata 2017-11-20 alle 13 19 54" src="https://user-images.githubusercontent.com/362016/33018152-88c08002-cdf5-11e7-99b5-b5ba1260d529.png">

but is not blocking. wha we do?

[2017-11-20 13:16] jellegerbrandy commented on #276
make it blocking :-)

[2017-11-20 13:36] eliawk commented on #276
@jellegerbrandy done

[2017-11-20 13:39] eliawk commented on #286
we need to use three {{{_ "key for the string" }}}

[2017-11-20 13:51] eliawk commented on #278
@geckoslair keep the user choice in the session or permanently in the local storage?

[2017-11-20 14:08] pedrocasa commented on #154
I have a similar doubt as Ben, don't know if the other features will be or not available when the message appear

Tell me what u think

![capture_01](https://user-images.githubusercontent.com/30123644/33022179-6775e518-cdeb-11e7-8e39-60ec5cb01ee0.JPG)

![capture 02](https://user-images.githubusercontent.com/30123644/33022176-66967072-cdeb-11e7-8805-2ff81c010e53.JPG)

[2017-11-20 14:10] pedrocasa commented on #154
The three dots  work as a buffering animation

[2017-11-20 14:27] eliawk opened #290 "Can't click in video on Safari"
The video thumb it's not clickable on safari

[2017-11-20 14:28] jellegerbrandy opened #291 "Optimize load time of player"
The player takes, on first visit, a long time to load. (Talking about the laod time before teh app is ready, not the ipfs set up)

Task: diagnose and optimize!

[2017-11-20 14:30] felipegaucho opened #292 "Give feedback on unsuccessful searches"
### Description:

When users search for something and there's matches, results come up. When there's no match, nothing shows up and we stare at blank.

#### Steps to Reproduce:

  1. Just go to "search" and search something.

#### Actual result:

https://media.giphy.com/media/xUOxeQzE3ZFKFJ5skM/giphy.gif

#### Expected result:

Our standardised text format/colour saying: "Want to try different key

[2017-11-20 14:43] jrgarou commented on #154
The loader situation is when there's no content at all, right?

Maybe we need two different loader(because of contrast colors), one to the player and another one to the internals page.

[2017-11-20 15:14] jellegerbrandy commented on #154
Actually, we have two places where our users have to wait an more-than-usual amount of time:

1. On first visit (i.e. the app takes some time to load - cf #291
2. When selecting a video

We are talking about the seond case here, but it would be good to make something that is re-usable also for case 1.

There will be the following steps:

* User arrives on video page https://staging.paratii.video/p

[2017-11-20 15:14] jrgarou commented on #290
@eliawk fixed on this commit  https://github.com/Paratii-Video/paratii-player/commit/b129328c00bb10a234d769c8f30735988cbfada3

[2017-11-21 14:20] felipegaucho opened #296 ""Buy Video" slider appears briefly (empty) on all videos before vanishing"
### Description:

In every video, the purple "buy Video" slider appears briefly. It then disappears on free videos. It blinks.

#### Steps to Reproduce:

  1. Just open any video and notice near the upvotes/downvotes.

#### Actual result:

![giphy 3](https://user-images.githubusercontent.com/26517120/33077224-60379604-ceb6-11e7-8f1f-8a7224cb34c1.gif)

#### Expected result:

This blinking doesn't h

[2017-11-21 14:24] felipegaucho opened #297 "Error messages never disappear unless you "X" them"
### Description:

The red modal basically just stays there, bothering you.

#### Steps to Reproduce:

  1. Make a new account with an empty wallet.
  2. Go to a video with a price. Try to play it.
  3. Now you get an error because you have no coins. Don't click the "X". Navigate away. The message error stays there.

#### Actual result:

Check the red box. It never goes away.
![giphy 3](https://use

[2017-11-21 14:26] felipegaucho opened #298 "Show "..." for long video titles, in the thumbnail preview"
### Description:

Video titles that are too long get cut abruptly on the thumb preview.

#### Steps to Reproduce:

  1. Just to go any playlist.

#### Actual result:

<img width="377" alt="screen shot 2017-11-21 at 12 25 26 pm" src="https://user-images.githubusercontent.com/26517120/33077487-1a5ffe7c-ceb7-11e7-9ccc-1b3da0ae07c3.png">

#### Expected result:

There's a "..." at the end, or other sol

[2017-11-21 14:29] pedrocasa commented on #298
It should be "..."
If you take a look on my design I have already projected these long titles with the three dots

[2017-11-21 15:18] bent0b0x opened #300 "Registration UX Issues"
1. When the user attempts to sign up w/ an email that is already taken, the error message shoves other UI elements into each other

![signupbug](https://user-images.githubusercontent.com/7697924/33080015-094ebd2e-cea5-11e7-9461-ca6c27d9f269.gif)

***

2. After an unsuccessful signup, and the user dismisses the register modal, when they open it back up again their previous error message (if any) is

[2017-11-21 15:25] pedrocasa commented on #300
Ben take a look at https://github.com/Paratii-Video/paratii-player/issues/169

@jrgarou  are gonna help u to find those error boxes

[2017-11-21 15:45] bent0b0x commented on #300
@jrgarou maybe you already have a plan for this, but as far as I can tell we do not have great control over the modal for the sign-in/sign-up process. Looks like `atForm` takes care of all of this for us. Should we, however, use our own template so we gain more control (which might be useful in cases like this where we want to control how errors are displayed)?.

[2017-11-21 19:49] geckoslair commented on #278
local storage @eliawk

[2017-11-21 20:43] jrgarou commented on #300
@bent0b0x I totally agree with you.
The problem with `atForm` is we ain't got control(until I know) on template and classes, template changes and template updates. So is hard to apply the same transition from our `embedCustomizer`, for example.

There's some features that `atForm` takes care for us. So for now(@jellegerbrandy could talk better about it) we decide to not change that.

But, I did de

[2017-11-21 21:43] geckoslair commented on #201
customizable if needed
https://stackoverflow.com/questions/5023602/facebook-share-link-can-you-customize-the-message-body-text

ok!

yes we can =)

~~just the link~~ also the text, telegram has a cross platform client and also a cross platform share link. i'd like not to hide on desktop. Can you tell me more about your telegram issues?

nice! we can also have fun with a minimal template.

[2017-11-21 22:47] geckoslair opened #303 "Search pagination boundaries"
I need help to manage pagination boundaries in search results.
In playlist pagination it's easy because i know the length of videos.

Ideas?

[2017-11-21 22:47] geckoslair commented on #260
need help! #303

[2017-11-21 22:48] geckoslair commented on #303
ref #260

[2017-11-21 23:58] geckoslair opened #305 "Nasty issue when a user is parked on the player page"
~~We have uncouple video element from meteor instance, it seems to be a bad idea, i'll deepen.~~

[2017-11-22 08:44] jellegerbrandy commented on #236
It seems to me we are trackign two separate things in this issue: (1) does our player play nice with playerjs.io and (2) shoudl we refactor, and how?

I'm opening a new issue for (2), and will rename this one.

[2017-11-22 08:56] jellegerbrandy opened #306 "Refactor the player and use a standard library"
This is a dicussion topic, with info so we can make the best decision.

Up to now, we have more or less hacked our own player. We now have a good idea what we need, so we can look for frameworks/libs that can help us standardize/make robust/hook in to a community. Clappr is one option for that. Are there other options?

| what | github url | github contribs and last commit | minified size | cool s

[2017-11-22 09:58] #287 closed, assigned to eliawk

[2017-11-22 09:58] #276 closed, assigned to bent0b0x

[2017-11-22 10:17] jellegerbrandy opened #307 "Exception in template helper: TypeError: Cannot read property 'blocking' of null"
reproduce:

Navigate to the player, in the console do: require('./imports/lib/utils.js').showModal('restoreKeystore')

See in console 2 errors:

    Exception in template helper: TypeError: Cannot read property 'wrapperClass' of null

    Exception in template helper: TypeError: Cannot read property 'blocking' of null

[2017-11-22 10:18] #286 closed, assigned to eliawk

[2017-11-22 10:20] #273 closed, assigned to bent0b0x, pedrocasa

[2017-11-22 10:22] jellegerbrandy commented on #278
Now using sessionStorage. Do we want to change that? who's the owner here, @geckoslair  or @eliawk ?
Moving to doing for now.

[2017-11-22 10:23] jellegerbrandy commented on #303
I'm not sure what you mean, @geckoslair ?

[2017-11-22 10:26] jellegerbrandy commented on #257
Closing this, we ahve the wiki to track instructions

[2017-11-22 10:27] jellegerbrandy opened #308 "Mark all text phrases as translateable"
Each natural language text in the app should be decorated with `_` , and find a corresponding phrase in the  `en.18n.json` file.

(Incomplete) instructions are in the wiki  https://github.com/Paratii-Video/paratii-player/wiki/Texts-and-translations

We have the `i18n` branch for developing this.

It would be cool to update the wiki if necessary.

[2017-11-22 10:31] #257 closed, assigned to jellegerbrandy

[2017-11-22 10:57] #278 closed, assigned to geckoslair

[2017-11-22 12:52] jrgarou commented on #292
@jellegerbrandy @geckoslair @eliawk
How the search query is working?
Looks like it brings results only when a whole word is typed.

- Typing 3 characters from a existing video title
![image](https://user-images.githubusercontent.com/320157/33128077-3ac4ad1e-cf72-11e7-8ca5-3dc085c6f9f1.png)

- Typing the whole word
![image](https://user-images.githubusercontent.com/320157/33128204-b38de4ea-cf72-11e

[2017-11-22 18:12] ya7ya commented on #306
I been looking at player frameworks we could use, so here are few points we need
to have in any framework we end up using , or creating or own.

1. **Extensible** : This need to extend it to include features easily and in a modular
way.
2. **Modular**: so we can shave fat off the player.
3. **cross-browser/device**: has to work on all devices outta the box.
4. **Active Community**: Because if it's

[2017-11-22 20:34] geckoslair commented on #303
@jellegerbrandy

**Playlists videos** and **search results** have pagination.
Each list need controllers for hasNextPage hasPrevPage, i call these controller "boundaries".

**Playlists videos** the controller (already implemented) it's easy because i know the total items within the playlist (it's an array inside the playlist).

**Search results** it's hard because i'm subscribing to a pubblication

[2017-11-22 21:51] geckoslair commented on #201
mini roadmap

- [x] twitter - could be extended more with https://dev.twitter.com/web/tweet-button/parameters
- [x] whatsapp - as twitter
- [x] whatsappdesktop :new:  - as twitter
- [x] telegram - as twitter
- [ ] mail

about email:

- from: First Name - Last Name -> we have just First Name or  Nick Name . Currently "from" field is: 'Paratii <sharing@player.paratii.video>'

- template ideas? :warn

[2017-11-22 22:37] geckoslair commented on #201
@pedrocasa @felipegaucho

Mail pending =) let's talk about templates!

[2017-11-22 23:32] geckoslair commented on #206
wrong close! sorry

[2017-11-22 23:40] geckoslair commented on #292
fixed in a906ec6 !

[2017-11-22 23:52] geckoslair opened #312 "Email sharing has no feedback"
### Description:

Sharing via email gives no feedback after email is sent

#### Steps to Reproduce:

- https://staging.paratii.video/play/QmQNmx5C6YpbP5KtWiB3wHB8Cz2UpBA1RLa31emCs1Z54m?playlist=2

- share

- via email

- enter a email address

- send

#### Actual result:

- on success back to sharing choices
- no feedback

#### Expected result:

- on success back to sharing choices
- feedback

###

[2017-11-22 23:54] geckoslair opened #313 "Email sharing input needs better UI"

[2017-11-22 23:57] geckoslair opened #314 "Fullscreen mode should be toggle doubleclicking on the video"
fairly widespread behavior

[2017-11-22 23:58] geckoslair opened #315 "Play/Pause should be toggled using space bar"
fairly widespread behavior.
Needs to set the focus over the play button

[2017-11-23 00:14] geckoslair opened #316 "Polish and finalizing embedding docs"
- [ ] finalize showcase
- [ ] update https://paratii-video.github.io/paratii-embed/embedding.html
- [ ] update https://paratii-video.github.io/paratii-embed/oEmbed.html
- [ ] update https://paratii-video.github.io/paratii-embed/sharing.html
- [ ] mini vs tiny
- [ ] linkedin opportunity ?

[2017-11-23 00:55] geckoslair commented on #296
@felipegaucho let's check once deployed on staging

[2017-11-24 08:19] #296 closed, assigned to geckoslair

[2017-11-24 08:19] #303 closed, assigned to geckoslair

[2017-11-24 11:01] #260 closed, assigned to geckoslair

[2017-11-24 11:50] pedrocasa commented on #201
just have one doubt
Imagine if there is one famous video that is embedded in a lot of web pages and it was shared by email. If we show a link what link should we show in the email? (the one that the person watched or an only-video page link )

Or is it possible for embedding the iframe on the video itself?

[2017-11-24 13:00] felipegaucho commented on #292
Hi @geckoslair, I still search for CES on staging and get no results, until I type CESC2017:

<img width="637" alt="screen shot 2017-11-24 at 10 58 27 am" src="https://user-images.githubusercontent.com/26517120/33211664-a42b1fe6-d106-11e7-8aed-eb40f1568b07.png">

[2017-11-24 13:13] felipegaucho opened #318 "Player controls are partially hidden on Twitter timeline"
### Description:

Controls of the player get hidden on Twitter timeline. When we click on the "tweet card" and it expands, the player dimensions are fine.

#### Steps to Reproduce:

  1. Just share a video (trying from staging here) on Twitter. The "phrase attached" thing is super fun BTW :)
  2. Then see it on the timeline, and try to play it.

#### Actual result:

<img width="361" alt="screen sh

[2017-11-24 13:40] felipegaucho opened #319 "🌊 v0.0.1 RELEASE 🚀"
# :world_map: What's left to release

- [x] Short-cut our thumb titles with "..." https://github.com/Paratii-Video/paratii-player/issues/298
- [x] Polish the controls for twitter https://github.com/Paratii-Video/paratii-player/issues/318
- [x] Limit tags not to overflow the paused screen https://github.com/Paratii-Video/paratii-player/issues/282
- [x] Make loaders for those waiting moments and int

[2017-11-24 13:47] jellegerbrandy commented on #282
Ok, so shall we just remove the tags? They are ugly and non-functional.

[2017-11-24 13:48] jellegerbrandy commented on #318
related to the #282 (where i've proposed to remove the tags)

For the title, there are two options (we can combine them):
- make the font smaller when the title is longer
- cut off the font with an ellipsis (with 3 dots)

I vote for the second.

@pedrocasa , what do you think?

[2017-11-24 14:03] jellegerbrandy opened #320 "Remove atForm dependency"
The login and register modals are based on atForm. That makes them really difficult to style.
We can use native forms.

(The reason was that we had difficulties getting custom forms to work nicely with the register process of meteor -- so whoever takes up this issue is invited to start there first :-)

[2017-11-24 14:04] jellegerbrandy commented on #300
Yes, also talked about htis yesterday with @eliawk

Let's get rid of the shitty atForm modals after all.

Retrospectively it was a bad decision to keep them (.... I know ... )

I've made a new issue for that, #320. This issue depends on that.

[2017-11-24 14:06] jellegerbrandy commented on #258
Ok, this now depends on #320

[2017-11-24 14:20] pedrocasa commented on #154
@jellegerbrandy  just to be clear

Do we need to show the Status download information or is it superfluous? ( number of peers, kbs etc...)

[2017-11-24 14:22] geckoslair opened #321 "Sharing: whatsapp desktop and whatsapp mobile"
Now we have two sharing icons for whatsapp. One for desktop and one for mobile.
We have to fix the frontend consequently.

[2017-11-24 14:27] jellegerbrandy commented on #154
I personally think it is really important to shwo that info - even if we can make it perhaps a bit less "technical" and more suitable for casual users...

[2017-11-24 14:32] jellegerbrandy commented on #154
Copying this from the PR for reference:

Usage

* Use Session.set('mainLoaderText', 'your text here') to change the loader text
* Use Session.set('showMainLoader', true) to show the loader
* Use Session.set('showMainLoader', null) to hide the loader

[2017-11-24 14:33] jellegerbrandy commented on #154
We now need to hook it up with the player's events.

[2017-11-24 15:00] geckoslair commented on #292
misunderstand the issue, reopening

[2017-11-24 15:25] jellegerbrandy opened #323 "create regular reports about load times"
So we can check improvements

This can (perhasp) be done by circleci.

[2017-11-24 16:35] geckoslair opened #324 "Search works just if match keyword perfectly, we want something flexible"
ref: #292

[2017-11-24 16:36] geckoslair commented on #292
closing in favour of #324

[2017-11-24 16:36] #292 closed, assigned to geckoslair

[2017-11-24 18:28] eliawk commented on #320
i've done a lot of work in the new branch: https://github.com/Paratii-Video/paratii-player/tree/new-login, but test are failing beacuse they can't see the seed in the modal (even if it's there)

<img width="436" alt="schermata 2017-11-24 alle 19 27 26" src="https://user-images.githubusercontent.com/362016/33221114-8555525c-d14d-11e7-8d67-cf92bb1238fb.png">

[2017-11-24 18:28] eliawk commented on #320
@jellegerbrandy do you have any idea about it?

[2017-11-24 18:29] eliawk commented on #258
This is now in #320

[2017-11-24 18:29] #258 closed, assigned to eliawk

[2017-11-24 19:53] jrgarou commented on #324
@enricocicconi the `showPagination` returns _true_ when the `keywords` from search wasn't _undefined_: https://github.com/Paratii-Video/paratii-player/blob/dev/imports/ui/pages/search/search.js#L94

Could we just show the pagination when `videos.length > Meteor.settings.public.paginationStep` or something like that?

The [video.fetch](https://github.com/Paratii-Video/paratii-player/blob/dev/import

[2017-11-24 20:49] jrgarou commented on #321
@geckoslair Done!
It's ready to go on https://github.com/Paratii-Video/paratii-player/pull/322

[2017-11-25 16:54] geckoslair commented on #201
actually we show the video link =)

[2017-11-25 18:03] geckoslair commented on #324
Hi @jrgarou! Can you create a new issue? This is about keyword matching.
BTW, yes!

[2017-11-25 18:17] geckoslair opened #327 "Video url shared via whatsapp desktop is wrong"
Whatsapp desktop sharing url transfrom ipfs hash in lower case

[2017-11-25 23:45] bent0b0x commented on #320
@eliawk I tried running this locally and I think the problematic lines are in fact [these](https://github.com/Paratii-Video/paratii-player/blob/new-login/tests/profile.test.js#L56-L59), as well as [this assertion](https://github.com/Paratii-Video/paratii-player/blob/new-login/tests/profile.test.js#L72). If they are commented out the test "passes".

So it would seem that for some reason the login f

[2017-11-25 23:50] bent0b0x commented on #300
@eliawk are you taking care of both of these problems in your branch? Just making sure so I do not do any work on an alternate solution!

[2017-11-26 11:26] felipegaucho commented on #178
@geckoslair what's the state of this? Are we passing **(5)** playerjs tests https://github.com/Paratii-Video/paratii-player/issues/236? And should https://github.com/Paratii-Video/paratii-player/issues/179 cover **(6)**? What about the rest :)?

For reference, how the player **currently shows up** on a Medium article _vs_ what it's **going to be like**:

![medium-embed](https://user-images.githubu

[2017-11-26 11:44] felipegaucho commented on #318
For the record (after talking w/ @pedrocasa): we'll use the 3 dots; tags won't show up in the twitter-sized version; in larger versions tags will appear "hidden at first", along the description, and will be limited to ~4 (to be shown).

[2017-11-26 12:56] felipegaucho opened #328 "Wallet page still has a scroll 📜"
### Description:

The wallet page still has its scroll bar on the side, and I seem unable to get rid of it :)

#### Steps to Reproduce:

  1. Share the player on twitter, or go to https://paratii-video.github.io/paratii-embed/
  2. Go to the wallet page. Check there on the right.

#### Actual result:

In a twitter share:
<img width="595" alt="screen shot 2017-11-26 at 9 01 14 am" src="https://user

[2017-11-26 13:12] felipegaucho opened #329 "Give an indication, on the wallet, of why the user has no $"
### Description:

This is something that has been discussed w/ @pedrocasa: on the wallet there's 0 funds and things are fine, but we can just say "it's not your fault there's no money here, it's just that this is still a demo" + a fun icon for an error, alert, or something. It can be something simple since it'll be temporary. There's some empty space that could be filled (see below).

<img width="

[2017-11-26 15:00] bent0b0x commented on #328
Will look at this one later today 👌

[2017-11-26 16:46] bent0b0x commented on #328
@felipegaucho which browser/OS are you using? I believe this is a browser-specific problem/setting, specifically in determining whether scroll bars should show up all of the time when an area is scrollable (which the profile page is). Yes right now there is not much content that makes scrolling the profile page useful, but in the future there will be more content/features on this page so scrolling

[2017-11-27 00:01] pedrocasa commented on #329
We should  use the same alerts as https://github.com/Paratii-Video/paratii-player/issues/169

@bent0b0x  @jrgarou

[2017-11-27 02:44] pedrocasa opened #332 "Design.MiniTwitter. purchase flow ( MT01-MT21)"
I have made a new purchase flow that can help us with some troubles that we are having with the twitter dimensional problem.

- I have renumbered all the pages to don't confuse with the older flows
- Please if you wanna talk about an especific page write the number

![novo_flow](https://user-images.githubusercontent.com/30123644/33286744-7725923a-d39d-11e7-87b2-3dad00da6d27.png)

[2017-11-27 02:46] pedrocasa commented on #318
https://github.com/Paratii-Video/paratii-player/issues/332

[2017-11-27 02:47] pedrocasa commented on #318
We should use a new dimension for the player fits on twitter ( 490X280)

[2017-11-27 11:54] jellegerbrandy commented on #324
Use a regexp matched to the beginning of the word. According to this:https://stackoverflow.com/questions/3305561/how-to-query-mongodb-with-like

something liek this shoudl work:

    db.users.find({"name": /m.*/})

[2017-11-27 12:23] jellegerbrandy commented on #298
@pedrocasa : can you give the refence to yr design?

* Making cuts at the right point is difficult - because the length of the text depends on the font used, so we cannot just count chars ( (WWWWWWW will not fit, IIIIIII will). So let's not do that

* solution 1: use css ellipsis: https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_js_text-overflow
* solution 2: use CSS, put title in a box

[2017-11-27 12:34] jrgarou commented on #328
@bent0b0x I'm using the **mini design** as a guide.
On this page, there'll be probably a scroll bar(or not 😀), but we could remove it follow the last @pedrocasa's layout :
![m27](https://user-images.githubusercontent.com/320157/33266157-84597f9e-d35b-11e7-9212-9eca39cd2676.png)

[2017-11-27 12:51] pedrocasa commented on #298
I designed it with the three dots because I saw youtube using it

![capture](https://user-images.githubusercontent.com/30123644/33267479-cb5f6ad4-d360-11e7-9bfc-1a3e552f64db.JPG)

[2017-11-27 12:51] pedrocasa commented on #298
![capture](https://user-images.githubusercontent.com/30123644/33267523-f67dd660-d360-11e7-8d73-b8b75f2edb6b.JPG)

[2017-11-27 13:01] jellegerbrandy commented on #328
I think having scrollbars within an iframe is evil and to be avoided at all costs :-)

[2017-11-27 13:02] jellegerbrandy commented on #332
Does this replace the earlier "mini" designs?

[2017-11-27 13:08] pedrocasa commented on #332
it has the same objective as the Mini, just in a new dimension.

So yes, it kind of replaces it ... When I uploaded it I didn't know if I should give a new name or use the same as before

[2017-11-27 13:09] jellegerbrandy commented on #298
So YT does both :-) (I was lookig at the titles on the youtube page)

Cutting the text on whole words (as in your design) and adding ellipsis is a bit tricky in javascript. Also, with such a small space, the three dots occupy space that is probably more useful if occupeid by three more letters of the title. I still vote for (2)

[2017-11-27 13:14] jellegerbrandy commented on #332
Perhaps you can close the  issues with the earlier versions, so we do not get confused.

[2017-11-27 13:16] jellegerbrandy commented on #300
He @bent0b0x , yes, lets wait with this issue until Elia's refactoring is done (he's away for a few days but enrico is workign on it now)

[2017-11-27 13:21] jellegerbrandy commented on #332
Question: so according to the break points defined in felipes comment on #116 , shoudl Twitter ( 490X280) not show the "tiny" mode?

[2017-11-27 13:24] jellegerbrandy commented on #201
meaning: the link that is shared is of the form https://player.paratii.video/etc, i.e. you are not sharing the link of the surroundign web page, but of the video itself.
(And yes, this implies a certain centralization)

[2017-11-27 13:26] #162 closed, assigned to eliawk, geckoslair

[2017-11-27 13:32] pedrocasa commented on #332
Oh, I thought it was already closed, my bad ( closed now )

well remembered, I have changed the defined breakpoints for the MINI version on felipes comment

[2017-11-27 13:35] jellegerbrandy commented on #116
i'm closing this issue as it is all over the place :-)
I made a wiki page to document the breakpoints. It is here: https://github.com/Paratii-Video/paratii-player/wiki/Breakpoints

[2017-11-27 13:35] #116 closed, assigned to geckoslair

[2017-11-27 13:36] jellegerbrandy commented on #332
I moved the breakpoint documentation to the wiki: https://github.com/Paratii-Video/paratii-player/wiki/Breakpoints

[2017-11-27 13:51] eliawk commented on #320
@bent0b0x thanks for your check. the application work (login an register), but (old) test are not passing. the problem it's in the test? or maybe the code has some issues..

[2017-11-27 13:52] pedrocasa commented on #329
![capture](https://user-images.githubusercontent.com/30123644/33269917-717c2cec-d369-11e7-8808-4274beee8022.JPG)

[2017-11-27 13:53] #307 closed, assigned to eliawk

[2017-11-27 13:53] pedrocasa commented on #329
![capture](https://user-images.githubusercontent.com/30123644/33269964-96b2a568-d369-11e7-884d-cd78c6915e47.JPG)

[2017-11-27 14:26] felipegaucho commented on #332
Also, @pedrocasa, didn't we decide to hide the tags with the description?! Why do we need the options "wheel" on the top right in these cases?

[2017-11-27 14:35] jrgarou opened #333 "Infinite return to a page using backButton"
When we click on backButton looks like it navigate to page instead of return to page in browser history.
So we create a loop and can't return 3 steps. If I start on a video page, go to playlists page and go to profile page the back button never return to the video.

![backbutton](https://user-images.githubusercontent.com/320157/33271644-f80b653e-d36e-11e7-80da-6f7d45496d63.gif)

[2017-11-27 16:21] geckoslair commented on #318
we need @jrgarou magic!

[2017-11-27 16:22] geckoslair commented on #320
@bent0b0x @eliawk fixed in 88cc5a1874a4926da736384013088168d5522342 ,
i don't know if the issue is close

[2017-11-27 16:35] jellegerbrandy commented on #320
OK @jrgarou, you'll be happy to kow we got rid of the atForms, finally. I merged the changes.

Very happy :-)

[2017-11-27 18:18] jrgarou commented on #320
Not yet, @jellegerbrandy
@geckoslair @eliawk could we remove(not import) all bootstrap css from app?

[2017-11-27 19:05] geckoslair commented on #324
@jellegerbrandy
from what I've understood in order to have score system we need to use the $search sintax.
but $search syntax support just string and not regex.

[2017-11-27 19:15] jellegerbrandy commented on #324
Ah yes. Well. We have 50 vids. Lets thunk about scoring once we have 10000

On Nov 27, 2017 8:05 PM, "Geckoslair" <notifications@github.com> wrote:

[2017-11-27 19:27] geckoslair commented on #178
@felipegaucho

5) in progress, but it seems that all the tests are passing at the moment, here the tests checklist with results

http://playerjs.io/test.html?url=https%3A%2F%2Fstaging.paratii.video%2Fplay%2FQmbytj8B3A5MD8QX69oGaXEAp4ZUdF7A2BT2tC5fb1G6TF%3Fplaylist%3D2

6) it's working since i've added oembed support, here the test passing:

http://embed.ly/providers/validate/oembed?endpoint=https%

[2017-11-27 19:33] geckoslair commented on #279
this bug seems to be mysteriously fixed ...

[2017-11-27 19:33] #279 closed, assigned to geckoslair

[2017-11-27 19:48] felipegaucho opened #336 "Around the Block playlist is empty. Add content + thumbnail"
### Description:

The playlist "Around the Block" is empty. It should contain 3 videos:
https://www.youtube.com/watch?v=BFU5JnaqaDY&index=6&list=UU5OOwdF37P_oT0OVf2DvuPg
https://www.youtube.com/watch?v=gvLXjp8QD20&index=4&list=UU5OOwdF37P_oT0OVf2DvuPg
https://www.youtube.com/watch?v=LR1fOVVxqZU&index=3&list=UU5OOwdF37P_oT0OVf2DvuPg

#### Steps to Reproduce:

https://player.paratii.video/playlists/

[2017-11-27 20:22] pedrocasa commented on #332
tags corrected

[2017-11-27 21:13] #321 closed, assigned to jrgarou

[2017-11-27 22:50] geckoslair commented on #178
About wordpress, i try to demystify some points:

1. Wordpress has .org and .com (the first is the "downloadable" cms, the second is the "enterprise" platform, as medium)
2. Wordpress it seems to support few default oembed providers both for .org and .com: https://codex.wordpress.org/it:Embed#oEmbed
3. Our Wordpress plugin **adds a new oembed provider to the CMS** .org
4. In order to become a word

[2017-11-27 23:26] geckoslair commented on #316
for linkedin we have to ask https://www.linkedin.com/help/linkedin/ask but they support OG protocol

[2017-11-27 23:29] geckoslair commented on #316
facebook answer https://developers.facebook.com/bugs/1963535797258090/ just support trough gateway